/* 
www.mloss.org
Copyright 2007: Mikio Braun, Cheng Soon Ong and Soeren Sonnenburg
*/


/* SETUP */

body { margin:0; padding:0; color:#113366; background:#113366; color:white; }
body, th, td { font:12px/1.4em Verdana,sans-serif; }
#container { position:relative; min-width:62em; max-width:100em; }
#homepage #container { max-width:100em; }

/* LINKS */

a {text-decoration: none;}
a img {border: none;}
a:link, a:visited { color:#ffc757; }
#content-main a:link, #content-main a:visited { color:#103163; text-decoration:underline; }
#content-main a:hover { color:#FFFFFF; }
#content-main a:hover { background-color:#FFFFFF; color:#113366; text-decoration:none; }
#content-main h2 a, #content-main h3 a { text-decoration:none !important; }
#pagination a, #pagination h5 a, #pagination a:link, #pagination a:visited { color:#103163; text-decoration:underline; }
#pagination a:hover { color:#113366; background:#f7f7f7; }
/* HEADER */

#header { position:relative; height:6.5em; background:#336699; }
#header #logo { width:165px; height:64px;  position:absolute; padding:0ex 1em 1ex 2em}
#name { display:inline; text-align:left; padding-right: 20px; color:white;}
#accounts { display:inline; text-align:right; color:#ffffff; background:#113366 ; padding:5em 5px 12px 17px}
#accounts a { display:inline; text-align:right;color:#ffc757; background:#113366; padding:5em 8px 12px 5px }


/* NAV */

#nav-global { position:absolute; margin:0; bottom:0; right:0; font-family:"Trebuchet MS",sans-serif; white-space:nowrap; }
#nav-global li { display:block; float:left; list-style-type:none; margin:0; padding:0; }
#nav-global a { display:block; float:left; padding:5em 16px 10px 16px; background:#336699; }
#nav-global a:hover { color:#113366; background:#f7f7f7; }
#news #nav-news a, #browse #nav-browse a, #submit #nav-submit a, #community #nav-community a, #Workshop #nav-workshop a, #links #nav-links a, #faq #nav-faq a, #About #nav-about a { color:white; background:#113366 bottom repeat-x; }
#nav-global h1,h2,h3 { margin-top:.8em; font-family:"Trebuchet MS",sans-serif; font-weight:normal; }
#nav-global h1 { font-size:158%; margin-top:.6em; margin-bottom:.6em; color:#FFFFFF; line-height:1.1em; }
#nav-global h2 { font-size:110%; margin-top:1em; margin-bottom:.2em; line-height:1.2em; color:#FFFFFF; }
/* COLUMNS */

#columnwrap { background:#336699; padding-bottom:10px; }
#subwrap { background:#000000; width:73%; float:left; padding-bottom:10px; }
#content-main { float:right; width:80%; background:white; color:black; padding-bottom:10px; }
#generic #content-main, #code #content-main { width:100%; }
#content-main * { margin-left:22px; margin-right:24px; }
#content-main * * { margin-left:0; margin-right:0; }
.sidebar { font-size:92%; }
.sidebar * { margin-left:14px; margin-right:14px; }
.sidebar * * { margin-left:0; margin-right:0; }
#content-extra { float:left; width:18%; }
#content-related { float:left; width:20%;}
.subcol-primary, .subcol-secondary { width:40%; float:left; padding-bottom:1.2em; }
.subcol-primary { margin-right:1%; }

/* CONTENT */

#content-main h1,h2,h3 { margin-top:.8em; font-family:"Trebuchet MS",sans-serif; font-weight:normal; }
#content-main h1 { font-size:218%; margin-top:.6em; margin-bottom:.6em; color:#113366; line-height:1.1em; }
#content-main h2 { font-size:150%; margin-top:0.2em; margin-bottom:.2em; line-height:1.2em; color:#113366; }
#content-main h3 { font-size:125%; margin-top:0.2em; font-weight:bold; margin-bottom:.2em; color:#113366; }*/
#homepage h2 { font-size:140%; }
h4 { font-size:100%; font-weight:bold; margin-bottom:-3px; margin-top:1.2em; text-transform:uppercase; letter-spacing:1px; }
h4 pre, h4 tt, h4 .literal { text-transform:none; }
h5 { font-size:1em; font-weight:bold; margin-top:1.5em; margin-bottom:3px; }
p, ul, dl { margin-top:.6em; margin-bottom:.8em; }
hr { color:#ccc; background-color:#ccc; height:1px; border:0; }
p.date { color:#487858; margin-top:-.2em; }
p.more { margin-top:-.4em; }
.sidebar p.date { color:#90ba9e; }
.sidebar h2:first-child { margin-top:.8em; }
h2.deck { margin-top:-.5em !important; margin-bottom:.6em; color:#487858; }

/* LISTS */

ul { padding-left:2em; }
ol { padding-left:30px; }
ul li { list-style-type:square; margin-bottom:.4em; }
ul ul { padding-left:1.2em; }
ul ul ul { padding-left:1em; }
ul.linklist, ul.toc { padding-left:0; }
ul.toc ul { margin-left:.6em; }
ul.toc ul li { list-style-type:square; }
ul.toc ul ul li { list-style-type:disc; }
ul.linklist li, ul.toc li { list-style-type:none; }
dt { font-weight:bold; margin-top:.5em; font-size:1.1em; }
dd { margin-bottom:.8em; }

/* BILLBOARDS */

#billboard h2 { margin:0; }
#generic #billboard { display:none; }
#billboard { background:#F7F7F7 repeat-x; border-bottom:6px solid #113366; font-size:150%; line-height:1.2em; color:#113366; }

/* COMMENTS */

#comment { width:90%; padding:3px; border:1px solid #113366; background:#F7F7F7}

table { width:95% }
th { padding:5px; border:1px solid #113366;background:#F7F7F7 }
td { padding:5px; border:1px solid #113366;background:#F7F7F7 }

/* FOOTER */

#footer { clear:both; color:#CCCCCC; padding:10px 20px; font-size:90%; }

/* HIGHLIGHTING */
.error { color:#FF0000 }

/* RATING FORM */
.ratingform li { list-style-type: none; display: inline; padding-left: 30px; }
.ratingform table, tr, td, th  { padding: 0px; margin: 0px; }
.ratingform td { border: 0px solid; }
.ratingform th { border: 0px solid; font-weight: bold; }

/*  CLEARFIX KLUDGE */

#columnwrap:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#columnwrap { display: inline-block; }

/* Hides from IE-mac \*/
* html #columnwrap { height: 1%; }
#columnwrap { display: block; }
/* End hide from IE-mac */

#subwrap:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#subwrap { display: inline-block; }

/* Hides from IE-mac \*/
* html #subwrap { height: 1%; }
#subwrap { display: block; }
/* End hide from IE-mac */om IE-mac */
