/* 
www.mloss.org
Copyright 2007: Mikio Braun, Cheng Soon Ong and Soeren Sonnenburg
*/


/* SETUP */

body { margin:0; padding:0; background:#660000; color:white; }
body, th, td { font:12px/1.4em Verdana,sans-serif; }
#container { position:relative; min-width:55em; max-width:100em; }
#homepage #container { max-width:100em; }

/* LINKS */

a {text-decoration: none;}
a img {border: none;}
a:link, a:visited { color:#ffc757; }
#content-main a:link, #content-main a:visited { color:#ab5603; text-decoration:underline; }
a:hover { color:#ffe761; }
#content-main a:hover { background-color:#CC6666; color:#660000; text-decoration:none; }
#content-main h2 a, #content-main h3 a { text-decoration:none !important; }

/* HEADER */

#header { position:relative; height:6.5em; background:#CC0000; }
#header h1#logo { margin:0; width:111px; height:41px; position:absolute; bottom:10px; left:25px; }

/* NAV */

#nav-global { position:absolute; margin:0; bottom:0; right:0; font-family:"Trebuchet MS",sans-serif; white-space:nowrap; }
#nav-global li { display:block; float:left; list-style-type:none; margin:0; padding:0; }
#nav-global a { display:block; float:left; padding:5em 16px 10px 16px; background:#CC0000; }
#nav-global a:hover { color:white; background:#CC6666; }
#news #nav-news a, #browse #nav-browse a, #submit #nav-submit a, #community #nav-community a, #Workshop #nav-workshop a, #Related resources #nav-links a, #faq #nav-faq a, #About mloss.org #nav-about a { color:white; background:#660000 bottom repeat-x; }

/* COLUMNS */

#columnwrap { background:#990000; padding-bottom:10px; }
#subwrap { background:#000000; width:73%; float:left; padding-bottom:10px; }
#content-main { float:right; width:80%; background:white; color:black; padding-bottom:10px; }
#generic #content-main, #code #content-main { width:100%; }
#content-main * { margin-left:22px; margin-right:24px; }
#content-main * * { margin-left:0; margin-right:0; }
.sidebar { font-size:92%; }
.sidebar * { margin-left:14px; margin-right:14px; }
.sidebar * * { margin-left:0; margin-right:0; }
#content-extra { float:left; width:18%; }
#content-related { float:left; width:20%;}
.subcol-primary, .subcol-secondary { width:40%; float:left; padding-bottom:1.2em; }
.subcol-primary { margin-right:1%; }

/* CONTENT */

h1,h2,h3 { margin-top:.8em; font-family:"Trebuchet MS",sans-serif; font-weight:normal; }
h1 { font-size:218%; margin-top:.6em; margin-bottom:.6em; color:#660000; line-height:1.1em; }
h2 { font-size:150%; margin-top:1em; margin-bottom:.2em; line-height:1.2em; color:#660000; }
#homepage h2 { font-size:140%; }
h3 { font-size:125%; font-weight:bold; margin-bottom:.2em; color:#487858; }
h4 { font-size:100%; font-weight:bold; margin-bottom:-3px; margin-top:1.2em; text-transform:uppercase; letter-spacing:1px; }
h4 pre, h4 tt, h4 .literal { text-transform:none; }
h5 { font-size:1em; font-weight:bold; margin-top:1.5em; margin-bottom:3px; }
p, ul, dl { margin-top:.6em; margin-bottom:.8em; }
hr { color:#ccc; background-color:#ccc; height:1px; border:0; }
p.date { color:#487858; margin-top:-.2em; }
p.more { margin-top:-.4em; }
.sidebar p.date { color:#90ba9e; }
.sidebar h2:first-child { margin-top:.8em; }
#content-main h2, #content-main h3 { margin-top:1.2em; }
h2.deck { margin-top:-.5em !important; margin-bottom:.6em; color:#487858; }

/* LISTS */

ul { padding-left:2em; }
ol { padding-left:30px; }
ul li { list-style-type:square; margin-bottom:.4em; }
ul ul { padding-left:1.2em; }
ul ul ul { padding-left:1em; }
ul.linklist, ul.toc { padding-left:0; }
ul.toc ul { margin-left:.6em; }
ul.toc ul li { list-style-type:square; }
ul.toc ul ul li { list-style-type:disc; }
ul.linklist li, ul.toc li { list-style-type:none; }
dt { font-weight:bold; margin-top:.5em; font-size:1.1em; }
dd { margin-bottom:.8em; }

/*  RSS  */

a.rss { font:bold 10px Verdana, sans-serif; padding:0 .2em; border: 1px solid; text-decoration:none; background:#f60;color: #fff; border-color:#ffc8a4 #7d3302 #3f1a01 #ff9a57; margin:0 3px; vertical-align:middle; }
#content-main a.rss { color:#fff; text-decoration:none; }
a.rss:hover, a.rss:link, a.rss:visited { color:#fff; text-decoration:none; }

/* BLOCKQUOTES */

#weblog blockquote { padding-left:0.8em; padding-right:1em; font:125%/1.2em "Trebuchet MS", sans-serif; color:#234f32; border-left:2px solid #94da3a; }
.sidebar blockquote { margin-top:1.5em; margin-bottom:1.5em; }
.sidebar blockquote p { font:italic 175%/1.2em "Trebuchet MS",sans-serif; color:#94da3a; }
.sidebar blockquote cite { display:block; font-style:normal; line-height:1.2em; margin-top:-.8em; color:#94da3a; }
.sidebar cite strong { font-weight:normal; color:white; }

/* CODE BLOCKS */

.literal { white-space:nowrap; }
.literal, .literal-block { color:#234f32; }
.sidebar .literal { color:white; background:transparent; font-size:11px; }
pre, .literal-block { font-size:medium; background:#E0FFB8; border:1px solid #94da3a; border-width:1px 0; margin: 1em 0; padding: .3em .4em; overflow: auto; }
dt .literal, table .literal { background:none; }
textarea.codedump { font-size:10px; color:#234f32; width:100%; background:#E0FFB8; border:1px solid #94da3a; border-width:1px 0; padding: .3em .4em; }

/* NOTES & ADMONITIONS */

.note, .admonition, .caution { padding:.8em 1em .8em; margin: 1em 0; border:1px solid #94da3a; }
.admonition-title { font-weight:bold; margin-top:0 !important; margin-bottom:0 !important;}
.admonition .last { margin-bottom:0 !important; }
/*.admonition-philosophy { padding-left:65px; background:url(../img/doc/icons/docicons-philosophy.gif) .8em .8em no-repeat;}
.admonition-note, .caution { padding-left:65px; background:url(../img/doc/icons/docicons-note.gif) .8em .8em no-repeat;}
.admonition-behind-the-scenes { padding-left:65px; background:url(../img/doc/icons/docicons-behindscenes.gif) .8em .8em no-repeat;}
*/

/* DOCS */

#documentation h2, #documentation h3, #documentation h4 { margin-top:1.4em; }
#documentation dd { margin-left:1em; }
#content-main table { color:#000; }
table.docutils { border-collapse:collapse; }
table.docutils thead th { border-bottom:2px solid #dfdfdf; text-align:left; }
table.docutils td, table.docutils th { border-bottom:1px solid #dfdfdf; padding:4px 2px;}
table.docutils td p { margin-top:0; margin-bottom:.5em; }
#documentation #content-related .literal { background:transparent !important; }

/* BILLBOARDS */

#billboard h2 { margin:0; }
#generic #billboard { display:none; }
#billboard { background:#CC6666 repeat-x; border-bottom:6px solid #660000; }

/* FOOTER */

#footer { clear:both; color:#487858; padding:10px 20px; font-size:90%; }

/* COMMENTS */

.comment { margin:15px 0; }
div.comment p { margin-left:1em; }
#weblog div.comment p.date { margin-bottom:.2em; color:#94da3a; }

/*  CLEARFIX KLUDGE */

#columnwrap:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#columnwrap { display: inline-block; }

/* Hides from IE-mac \*/
* html #columnwrap { height: 1%; }
#columnwrap { display: block; }
/* End hide from IE-mac */

#subwrap:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#subwrap { display: inline-block; }

/* Hides from IE-mac \*/
* html #subwrap { height: 1%; }
#subwrap { display: block; }
/* End hide from IE-mac */om IE-mac */
