{% extends "base_2col.html" %}

{% block sectionid %}login{% endblock %}

{% block title %}Password reset{% endblock %}

{% block billboard %}Password reset{% endblock %}

{% block content %}

{% if validlink %}

<h2>Enter new password</h2>
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post">
{% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
<p class="aligned wide"><label for="id_new_password1">New password:</label>
{{ form.new_password1 }}</p>
{% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
<p class="aligned wide"><label for="id_new_password2">Confirm password:</label>
{{ form.new_password2 }}</p>
<p><input type="submit" value="Change my password" /></p>
</form>

{% else %}

<h2>Password reset unsuccessful</h2>

<p>The password reset link was invalid, possibly because it has already been used.  
Please request a new password reset.</p>

{% endif %}

{% endblock %}
