{% extends "base_2col.html" %}

{% block sectionid %}blog{% endblock %}

{% block title %}Open Thoughts{% endblock %}

{% block billboard %}Open Thoughts{% endblock %}

{% load safe_markup %}
{% load markup %}

{% block content-related %}
{% if blog_entries %}
<h2>Latest Thoughts</h2>
<p>
 <ul>
  {% for latest_blog in blog_entries %}
  <li><a href="{{ latest_blog.get_absolute_url }}">{{ latest_blog.headline }}</a>
  <div class="date small">by 
	  <strong>{{ latest_blog.author }}</strong>
	  on {{ latest_blog.pub_date|date:"F j, Y" }}
  </div>
  </li>
  {% endfor %}
 </ul>
</p>
{% endif %}

{% if blog_years %}
<h2> Archive </h2>
<p>
 <ul>
  {% for year in blog_years %}
  <li>
	<h3><a href="/community/blog/{{ year|date:"Y" }}">{{ year|date:"Y"}}</a></h3>
  </li>
  {% endfor %}
 </ul>
</p>
{% endif %}

{% if latest_posts %}
<h2>Recent <a href="forum/">forum</a> posts</h2>
<p>
    <ul>
    {% for post in latest_posts %}
	<li>Forum <strong>{{ post.title }}</strong><div class="date small">Thread <i>{{ post.thread }}</i></div>
	  <a href='{{ post.url }}'>
	    {{ post.body|firstwords:"cut=100"|markdown:"safe" }}
	</a>
  <div class="date small">by 
	  <strong>{{ post.author }}</strong>
	  on {{ post.pub_date|date:"F j, Y" }}
  </div>
	</li>
    {% endfor %}
    </ul>
</p>
{% else %}
    <p>No forum yet.</p>
{% endif %}

<h3><a href="/community/blog/rss/latest"><img src="/media/images/rss.png" alt="RSS Feed" border="0" width="16" height="16" align="top"></img> RSS Feed - Blog</a></h3>
{% endblock %}

{% block content %}


{% if latest %}
    {% for object in latest %}
        <h2><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a></h2>
        <p class="date small">Posted by 
	  <strong>{{ object.author }}</strong> 
	  on {{ object.pub_date|date:"F j, Y" }} 
	</p>
	<p>{{ object.body|markdown:"safe" }}</p>
    {% endfor %}
{% else %}
    <p>No blogs yet</p>
{% endif %}

{% endblock %}
