{% extends "base_2col.html" %}

{% block sectionid %}community{% endblock %}

{% block title %}Community{% endblock %}

{% block billboard %}Community{% endblock %}

{% block content-related %}

<h2>Recent forum posts</h2>

<h2>Related external sites</h2>

{% endblock %}

{% block content %}

<h2>Editors' blog</h2>

{% if latest %}
    {% for object in latest %}
        <h2><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a></h2>
        {{ object.body }}
        <p class="date small">Posted by 
	  <strong>{{ object.author }}</strong> 
	  on {{ object.pub_date|date:"F j, Y" }} 
	</p>
    {% endfor %}
{% else %}
    <p>No blogs yet</p>
{% endif %}

{% endblock %}
