{% extends "base_2col.html" %}

{% block sectionid %}blog{% endblock %}

{% block title %}Open Thoughts{% endblock %}

{% block billboard %}Open Thoughts{% endblock %}

{% block content-related %}

{% load safe_markup %}
{% load markup %}

{% if blog_entries %}
<h2>Latest Thoughts</h2>
<p>
 <ul>
  {% for latest_blog in blog_entries %}
  <li><a href="{{ latest_blog.get_absolute_url }}">{{ latest_blog.headline }}</a>
  <div class="date small">by 
	  <strong>{{ latest_blog.author }}</strong>
	  on {{ latest_blog.pub_date|date:"F j, Y" }}
  </div>
  </li>
  {% endfor %}
 </ul>
</p>
{% endif %}

{% if blog_years %}
<h2> Archive </h2>
<p>
 <ul>
  {% for year in blog_years %}
  <li>
	<h3><a href="/community/blog/{{ year|date:"Y" }}">{{ year|date:"Y"}}</a></h3>
  </li>
  {% endfor %}
 </ul>
</p>
{% endif %}

{% if latest_posts %}
<h2>Recent <a href="forum/">forum</a> posts</h2>
<p>
    <ul>
    {% for post in latest_posts %}
	<li>Forum <strong>{{ post.title }}</strong><div class="date small">Thread <i>{{ post.thread }}</i></div>
	  <a href='{{ post.url }}'>
	    {{ post.body|firstwords:"cut=100"|markdown:"safe" }}
	</a>
  <div class="date small">by 
	  <strong>{{ post.author }}</strong>
	  on {{ post.pub_date|date:"F j, Y" }}
  </div>
	</li>
    {% endfor %}
    </ul>
</p>
{% else %}
    <p>No forum yet.</p>
{% endif %}

{% if latest_feeds %}
<h2>Recent posts from external sites</h2>
<p>
    <ul>
    {% for feed in latest_feeds %}
        <li><h3><a href='{{ feed.url }}'>{{ feed.title }}</a></h3>
	  <ul>
	  {% for item in feed.items %}
	    <li><a href='{{ item.link }}'>{{ item.title }}</a></li>
	  {% endfor %}
	  </ul>
	  </li>
    {% endfor %}
    </ul>
</p>
{% else %}
    <p>No forum yet.</p>
{% endif %}



<h3><a href="/community/blog/rss/latest"><img src="/static/images/rss.png" alt="RSS Feed" border="0" width="16" height="16" align="top"></img> RSS Feed - Blog</a></h3>
<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=web%2Cemail&amp;charset=utf-8&amp;services=reddit%2Cdigg%2Cdelicious%2Cstumbleupon%2Cyahoo_buzz%2Ctechnorati%2Cgoogle_bmarks%2Cyahoo_bmarks%2Cfurl%2Cslashdot%2Cmagnolia%2Cmister_wong%2Cyigg&amp;offsetTop=-306&amp;style=default&amp;publisher=85555fbd-bb3a-4ab4-af6f-5dea32a6a5e4"></script></h3> 
{% endblock %}

{% block content %}
{% if blog_entries %}
  {% for latest_blog in blog_entries %}
  <p>
  <h2><a href="{{ latest_blog.get_absolute_url }}">{{ latest_blog.headline }}</a></h2>
  <p class="date small">by 
  <strong>{{ latest_blog.author }}</strong>
  on {{ latest_blog.pub_date|date:"F j, Y" }}

  {% load comments %}
  {% get_comment_list for blog.blogitem latest_blog.id as comment_list %}
  {% if comment_list %}
    {% get_comment_count for blog.blogitem latest_blog.id as comment_count %}
    (<a href="{{ latest_blog.get_comment_url }}">{{ comment_count }} comment{{ comment_count|pluralize }}</a>)
  {% else %}
    (0 comments)
  {% endif %}
  </p>

  <p>
  {{ latest_blog.body|markdown:"safe" }}
  </p>
  </p>
  {% if not forloop.last %}
  <hr></hr>
  {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
