{% extends "base_2col.html" %}

{% block sectionid %}community{% endblock %}

{% block title %}Community{% endblock %}

{% block billboard %}Community{% endblock %}

{% block content-related %}

<h2>Recent <a href="forum/">forum</a> posts</h2>

{% load safe_markup %}
{% if latest_posts %}
    <ul>
    {% for post in latest_posts %}
        <li>{{ post.title }}
	  <br></br>
	  <a href='{{ post.url }}'>
	    {{ post.body|safe_markdown:"safe,cut=100" }}
	  </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No forum yet.</p>
{% endif %}

<h2>Recent posts from external sites</h2>

{% if latest_feeds %}
    <ul>
    {% for feed in latest_feeds %}
        <li><h3><a href='{{ feed.url }}'>{{ feed.title }}</a></h3>
	  <ul>
	  {% for item in feed.items %}
	    <li><a href='{{ item.link }}'>{{ item.title }}</a></li>
	  {% endfor %}
	  </ul>
	  </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No forum yet.</p>
{% endif %}



<h3><a href="/community/blog/rss/latest"><img src="/media/images/rss.png" alt="RSS Feed" border="0" width="16" height="16" align="top"></img> RSS Feed - Community</a></h3>
{% endblock %}

{% block content %}
{% if blog_entries %}
  {% load safe_markup %}
  {% for latest_blog in blog_entries %}
  <h2><a href="{{ latest_blog.get_absolute_url }}">{{ latest_blog.headline }}</a></h2>
  <p class="date small">by 
    <strong>{{ latest_blog.author }}</strong>
    on {{ latest_blog.pub_date|date:"F j, Y" }}
  </p>

  <p>
  {{ latest_blog.body|safe_markdown:"safe" }}
  </p>
  {% endfor %}
{% endif %}
{% endblock %}
