{% extends "community/forum_base.html" %}
{% block title %}{{ thread.title }} ({{ forum.title }}){% endblock %}

{% block pagetitle %}{{ forum.title }} &raquo; {{ thread.title }}{% endblock %}


{% block breadcrumbs %}&raquo; <a href='{{ forum.get_absolute_url }}'>{{ forum.title }}</a> &raquo; <a href='{{ thread.get_absolute_url }}'>{{ thread.title }}</a> ({{ thread.posts }} post{{ thread.posts|pluralize }}){% endblock %}

{% block content %}

{% load safe_markup %}
<br>
{% for post in posts %}
<div id="comment">
	<dt id="post{{ post.id }}">{{ post.author }} ( on {{ post.time|date:"F j, Y, h:m:s" }} )</dt>
	<dd>{{ post.body|safe_markdown:"safe" }}</dd>
</div><br>
{% endfor %}

<h2>Post a Reply</h2>
{% if thread.closed %}
<p>Sorry, this thread is closed. No further replies are permitted.</p>
{% else %}
<form method='post' action='{{form_action}}'>
{% if not user.is_authenticated %}
<h3>Please login to create a thread.</h3>
<dt>
<label for="id_username"><tt>Username:</tt>
	{% if form.username.errors %}
	<span class="error">{{ form.username.errors|join:", " }}</span>
	{% endif %}
</label>
</dt>
	{{ form.username }}
<dt>
<label for="id_username"><tt>Password:</tt>
	{% if form.password.errors %}
	<span class="error">{{ form.password.errors|join:", " }}</span>
	{% endif %}
</label>
</dt>
	{{ form.password }} (<a href="/accounts/password/reset/">
		Forgotten your password?</a>)
{% else %}
	<dt><label>Posting as </label>{{ user.username }}</dt>
{% endif %}
<p>
<dt><label>Posting
{% if form.body.errors %}
<span class="error">{{ form.body.errors|join:", " }}</span>
{% endif %}</label></dt>
{{ form.body }} <p>
<p>You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>.</p>
<p><input type='submit' value='Post' /></p>
</form>
{% endif %}
{% endblock %}

{% block content-related %}
<p> You are in Forum <a href='{{ forum.get_absolute_url }}'><b>{{ forum.title }}</b></a> looking at thread <a href='{{thread.get_absolute_url}}'><b>{{ thread.title }}</b></a>.
</p>
{% endblock %}
