{% extends "community/forum_base.html" %}
{% block title %}{{ forum.title }}{% endblock %}
{% block pagetitle %}{{ forum.title }}{% endblock %}

{% block breadcrumbs %} &raquo; <a href='{{ forum.get_absolute_url }}'>{{ forum.title }}</a> ({{ forum.threads }} thread{{ forum.threads|pluralize }}, {{ forum.posts }} post{{ forum.posts|pluralize }}){% endblock %}


{% block content %}
<br>
<table id='djangoForumThreadList'>

<tr>
<th>Thread</th>
<th style='width: 50px;'>Posts</th>
<th style='width: 50px;'>Views</th>
<th style='width: 220px;'>Last Post</th>
</tr>

{% for t in threads %}
<tr>
<td>{% if t.sticky %}Sticky {% endif %}<a href='{{ t.get_absolute_url }}'>{{ t.title }}</a>{% if t.closed %} (Closed){% endif %}</td>
<td style='width: 50px;'>{{ t.posts }}</td>
<td style='width: 50px;'>{{ t.views }}</td>
<td style='width: 220px;' class='djangoForumThreadLastPost'>{{ t.thread_latest_post.time|timesince }} ago by {{ t.thread_latest_post.author }} (<a href='{{ t.thread_latest_post.get_absolute_url }}'>view</a>)</td>
</tr>
{% endfor %}
</table>

<h2>Create a Thread</h2>
<form method='post' action='{{form_action}}'>
{% if not user.is_authenticated %}
<h3>Please login to create a thread.</h3>
<dt>
<label for="id_username"><tt>Username:</tt>
	{% if form.username.errors %}
	<span class="error">{{ form.username.errors|join:", " }}</span>
	{% endif %}
</label>
</dt>
	{{ form.username }}
<dt>
<label for="id_username"><tt>Password:</tt>
	{% if form.password.errors %}
	<span class="error">{{ form.password.errors|join:", " }}</span>
	{% endif %}
</label>
</dt>
	{{ form.password }} (<a href="/accounts/password/reset/">
		Forgotten your password?</a>)
{% else %}
	<dt><label>Posting as </label>{{ user.username }}</dt>
{% endif %}
<p>
<dt><label for='title'>Title:</label>
{% if form.title.errors %}
<span class="error">{{ form.title.errors|join:", " }}</span>
{% endif %}</dt>
{{ form.title }}
<dt><label>Posting
{% if form.body.errors %}
<span class="error">{{ form.body.errors|join:", " }}</span>
{% endif %}</label></dt>
{{ form.body }} <p>
<p>You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>.</p>
<p><input type='submit' value='Post' /></p>
</form>
{% endblock %}

{% block content-related %}
<p>
Choose the thread thread you would like to read or contribute to. Or simply create a new one if the existing threads do not fit.
</p>
{% endblock %}
