{% extends "community/forum_base.html" %}

{% load markup %}

{% block title %}{{ thread.title }} ({{ forum.title }}){% endblock %}
{% block billboard %}Thread: {{ thread.title }} ({{ forum.title }}){% endblock %}

{% block pagetitle %}{{ forum.title }} &raquo; {{ thread.title }}{% endblock %}


{% block breadcrumbs %}&raquo; <a href='{{ forum.get_absolute_url }}'>{{ forum.title }}</a> &raquo; <a href='{{ thread.get_absolute_url }}'>{{ thread.title }}</a> ({{ thread.object_list }} post{{ thread.object_list|pluralize }}){% endblock %}

{% block content %}
<br></br>

<dl>
	<dd>
	{% for post in object_list %}
	<dl>
		<dd>
		<table>
			<tr>
				<td>
					<dl>
						<dt id="post{{ post.id }}">{{ post.author }} ( on {{ post.time|date:"F j, Y, H:i:s" }} )</dt>
						<dd>{{ post.body|markdown:"safe" }}</dd>
					</dl>
				</td>
			</tr>
		</table>
		</dd>
	</dl>
	{% endfor %}
	</dd>
</dl>

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
{% endif %}


{% if posting %}
<h2>Preview</h2>
<div id="threadlist">
	<dt id="post{{ posting.id }}">{{ posting.author }} ( on {{ posting.time|date:"F j, Y, H:i:s" }} )</dt>
	{{ posting.body|markdown:"safe" }}
</div>
{% endif %}

{% if not has_next %}
<h2>Post a Reply</h2>
{% if thread.closed %}
<p>Sorry, this thread is closed. No further replies are permitted.</p>
{% else %}
<form method='post' action='{{form_action}}'>{% csrf_token %}
	<dl>
		{% if not user.is_authenticated %}
		<dd><h3>Please login to create a thread.</h3></dd>
		<dt><label for="id_username"><tt>Username:</tt></label></dt>
		<dt>
		{% if form.username.errors %}
		<span class="error">{{ form.username.errors|join:", " }}</span>
		{% endif %}
		{{ form.username|safe }}
		</dt>
		<dt><label for="id_password"><tt>Password:</tt></label></dt>
		<dt>
		{% if form.password.errors %}
		<span class="error">{{ form.password.errors|join:", " }}</span>
		{% endif %}
		{{ form.password|safe }} (<a href="/accounts/password/reset/">
			Forgotten your password?</a>)
		</dt>
		<dt><label>Posting
		{% else %}
		<dt><label>Posting as {{ user.username }}:
		{% endif %}
			{% if form.body.errors %}
			<span class="error">{{ form.body.errors|join:", " }}</span>
			{% endif %}
		</label></dt>
		<dt>{{ form.body|safe }}</dt>
		<dd>You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>.</dd>
		<dd><input type="submit" name="preview" value="Preview comment"/>
		<input type="submit" name="post" value="Post Message"/></dd>
	</dl>
</form>
{% endif %}
{% endif %}
{% endblock %}

{% block content-related %}
<dl><dd>You are in Forum <a href='{{ forum.get_absolute_url }}'><b>{{ forum.title }}</b></a> looking at thread <a href='{{thread.get_absolute_url}}'><b>{{ thread.title }}</b></a>.
</dd></dl>
<dl>
    <dd>
    <h3><a href="/community/rss/{{forum.slug}}/{{thread.id}}/"><img src="/media/images/rss.png" alt="RSS Feed" border="0" width="16" height="16" align="top"></img> RSS Feed - Thread "{{ thread.title }}"</a></h3>
     <h3> <script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=web%2Cemail&amp;charset=utf-8&amp;services=reddit%2Cdigg%2Cdelicious%2Cstumbleupon%2Cyahoo_buzz%2Ctechnorati%2Cgoogle_bmarks%2Cyahoo_bmarks%2Cfurl%2Cslashdot%2Cmagnolia%2Cmister_wong%2Cyigg&amp;style=default&amp;publisher=85555fbd-bb3a-4ab4-af6f-5dea32a6a5e4"></script></h3> 
    </dd>
</dl>
{% endblock %}
