{% extends "community/blog_list.html" %}

{% block title %}Weblog | {{ object.headline|escape }}{% endblock %}

{% block content %}
{% load markup %}
<h1>{{ object.headline }}</h1>
<p class="date small">Posted by <strong>{{ object.author }}</strong> on {{ object.pub_date|date:"F j, Y" }}</p>
<p>{{ object.body|markdown:"safe" }}</p>

{% load comments %}
{% get_comment_list for blog.blogitem object.id as comment_list %}

<div id="content-secondary">
	<h2 id="comments">Comments</h2>

    {% if comment_list %}
    {% for comment in comment_list %}
    <dl><dd>
        <div class="comment">
            <dl>
                <dt id="c{{ comment.id }}">{{ comment.name }} (on {{ comment.submit_date|date:"F j, Y, H:i:s" }})</dt>
                <dd>{{ comment.comment|markdown:"safe" }}</dd>
            </dl>
        </div>
        </dd></dl>
        {% endfor %}
        {% else %}
        <p>
        No one has posted any comments yet. Perhaps you'd like to be the first?
        </p>
        {% endif %}

        <h2>Leave a comment</h2>
        {% render_comment_form for blog.blogitem object.id %}
</div>
{% endblock %}
