{% extends "base_2col.html" %}
{% load paginator %}

{% block sectionid %}browse{% endblock %}

{% block title %}All entries{% endblock %}

{% block billboard %}All entries{% endblock %}

{% block content %}
{% endblock %}

{% block content-related %}
<h2>Search</h2>
<dl><dd>
	<form method="post" action="/software/search/">
		<input type="text" name="searchterm" id="searchterm" size="10"></input>
		<button type="submit" name="post">Go</button>
	</form>
	</dd>
</dl>
<h2>Manage</h2>
<ul>
{% if user.is_authenticated %}
  <li><a href="/software/submit">Submit new Project</a></li>
{% else %}
  <li><a href="/software/submit">Login</a><a> to submit a new project</a></li>
{% endif %}
</ul>
<h2>Sort by</h2>
<ul>
    <li><a href="/software/date/">Last Update</a></li>
    <li><a href="/software/pubdate/">Publication Date</a></li>
    <li><a href="/software/title/">Project Title</a></li>
    <li><a href="/software/rating/">Rating</a></li>
    <li><a href="/software/views/">Number of Views</a></li>
    <li><a href="/software/downloads/">Number of Downloads</a></li>
</ul>
<h2>Filter by</h2>
<ul>
    <li><a href="/software/author/">Author</a></li>
    <li><a href="/software/users/">Submitter</a></li>
    <li><a href="/software/tags/">Tag</a></li>
    <li><a href="/software/license/">License</a></li>
    <li><a href="/software/language/">Programming Language</a></li>
    <li><a href="/software/opsys/">Operating System</a></li>
</ul>

{% if blog_entries %}
<p>
<h2>Latest Thoughts</h2>
<p>
 <ul>
  {% for latest_blog in blog_entries %}
  <li><a href="{{ latest_blog.get_absolute_url }}">{{ latest_blog.headline }}</a>
  <div class="date small">by 
	  <strong>{{ latest_blog.author }}</strong>
	  on {{ latest_blog.pub_date|date:"F j, Y" }}
  </div>
  </li>
  {% endfor %}
 </ul>
</p>
</p>
{% endif %}

{% load safe_markup %}
{% if latest_posts %}
<p>
<h2>Recent <a href="forum/">forum</a> posts</h2>
<p>
    <ul>
    {% for post in latest_posts %}
        <li>{{ post.title }}
	  <br></br>
	  <a href='{{ post.url }}'>
	    {{ post.body|safe_markdown:"safe,cut=100" }}
	  </a></li>
    {% endfor %}
    </ul>
</p>
{% else %}
    <p>No forum yet.</p>
{% endif %}
</p>

<p>
<h3><a href="/software/rss/latest"><img src="/media/images/rss.png" alt="RSS Feed" border="0" width="16" height="16" align="top"></img> RSS Feed - New Software</a></h3>
<h3><a href="/community/blog/rss/latest"><img src="/media/images/rss.png" alt="RSS Feed" border="0" width="16" height="16" align="top"></img> RSS Feed - Community</a></h3>
</p>
{% endblock %}


