{% extends "software/base_software.html" %}

{% block title %}Programming Languages{% endblock %}

{% block billboard %}Programming Languages{% endblock %}

{% block content %}

    <ul>
    {% for curlanguage in object_list %}
        <li><a href="/software/language/{{ curlanguage.slug }}/">
	    {{ curlanguage.name|title }}</a>
	</li>
    {% endfor %}
    </ul>

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
{% endif %}

{% endblock %}
