{% extends "software/base_software.html" %}
{% load safe_markup %}
{% load markup %}
{% load paginator %}
{% load show_stars %}
{% load comments %}

{% block sectionid %}browse{% endblock %}

{% block title %} 
{% if search_term %}
Projects matching {{ search_term|escape }}.
{% else %}
{% if os_license %}
Projects that use the {{ os_license }} license.
{% else %}
{% if language %}
Projects that use {{ language }} as the programming language.
{% else %}
{% if object.username %}
Projects submitted by {{ object.username }}
{% else %}
All entries
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endblock %}



{% block billboard %}
{% if search_term %}
Projects matching {{ search_term|escape }}.
{% else %}
{% if os_license %}
{{ object_list.count }} projects found that use the {{ os_license }} license.
{% else %}
{% if language %}
{{ object_list.count }} projects found that use {{ language }} as the programming language.
{% else %}
{% if object.username %}
{% ifequal user.username object.username %}
You've
{% else %}
{{ object.username }} has
{% endifequal %}
posted {{ object_list.count }} project{{ object_list.count|pluralize }}.
{% else %}
All entries
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endblock %}

{% block content %}

{% if object_list %}

{% paginator 5%} 

{% for object in object_list %}

<table {% if object.jmlr_mloss_url|escape %} class="jmlr" {% else %} class="swlist"{% endif %}>
	<tr><td>
			<div class="rating">
				<table><tr><td valign="top">
							<h2>
								{% if object.screenshot %}
									<a href="/media/{{ object.screenshot }}" target="new"><img src="/media/{{ object.screenshot }}" width="30" height="32" align="top" alt="Logo"></img></a>
								{% else %}
								{% ifequal object.user.username "r-cran-robot" %}
								<img src="/media/images/rlogo.png" border="0" height="32" width="30" align="top" alt="Logo" title="Logo"></img>
								{% else %}
								<img src="/media/images/cray_flat_small.png" border="0" height="32" width="30" align="top" alt="Logo" title="Logo"></img>
								{% endifequal %}
								{% endif %}
								{% if object.jmlr_mloss_url %}
								<img src="/media/images/jmlr.jpg" width="60" height="32" align="top" alt="JMLR"></img>
								{% endif %}
								<a href="{{ object.get_absolute_url|escape }}"> {{ object.title }} {{ object.version }}</a>
							</h2>
							<p class="more">
							by <a href="/software{{ object.user.get_absolute_url|escape }}">{{ object.user.username }}</a> 
							- {{ object.updated_date|date:"F j, Y, H:i:s" }} CET
							[
							{% if object.project_url %}<a href="/software/homepage/{{ object.id }}"><img src="/media/images/homepage.png" width="14" height="14" alt="Project Homepage" title="Project Homepage"></img></a> {% endif %}
							<a href="/software/bib/{{ object.id }}"><img src="/media/images/bib.png" width="14" height="14" alt="BibTeX" title="BibTeX"></img></a>
							{% if object.paper_bib %}<a href="/software/paperbib/{{ object.id }}"><img src="/media/images/paper.png" width="14" height="14" alt="BibTeX for corresponding Paper" title="Paper BibTeX for corresponding Paper"></img></a>{% endif %}
							{% if object.is_downloadable %}<a href="/software/download/{{ object.id }}"><img src="/media/images/disk.png" width="14" height="14" alt="Download" title="Download"></img></a>{% endif %}
                            {% if user.is_authenticated %}<a href="/software/subscribe/{{ object.id }}"><img src="/media/images/subscribe.png" width="14" height="14" alt="Subscribe" title="Subscribe"></img></a>{% endif %}
							{% if user.is_authenticated %}<a href="/software/bookmark/{{ object.id }}"><img src="/media/images/bookmark.png" width="14" height="14" alt="Bookmark" title="Bookmark"></img></a>{% endif %}
							]

{% if object.total_number_of_views %}
	<a href="/software/viewstats/{{ object.id }}">{{ object.total_number_of_views }} view{{ object.total_number_of_views|pluralize }}</a>
{% endif %}
{% if object.total_number_of_downloads %},
	 <a href="/software/downloadstats/{{ object.id }}">{{ object.total_number_of_downloads }} download{{ object.total_number_of_downloads|pluralize }}</a>
{% endif %}
{% get_comment_list for software.software object.id as comment_list %}
{% if comment_list %}, 
	{% get_comment_count for object as comment_count %}
	<a href="{{ object.get_last_comments_url }}">{{ comment_count }} comment{{ comment_count|pluralize }}</a>
{% endif %}
							</p>
						</td>
						{% if object.total_number_of_votes %}
						<td class="rating">
							<table class="starlab">
								<tr><td class="starlab">Rating <nobr>{% show_stars object.average_rating of 5 round to half %}</nobr></td></tr>
								<tr><td class="starlab">(based on {{ object.total_number_of_votes }} vote{{ object.total_number_of_votes|pluralize }})</td></tr>
							</table>
						</td>
						{% endif %}
				</tr></table>
			</div>
			<div class="description">
				{{ object.description|firstwords:"cut=200"|markdown:"safe" }}
				<hr></hr>
				<table class="swdetails">
					<tr><td>
							<ul>
								{% if object.get_authorlist %}
								<li><b>Authors:</b>
								{% for o in object.get_authorlist %}
								<a href="/software/author/{{ o.slug }}">{{ o.name|title }}</a>{% if not forloop.last %},
								{% endif %}
								{% endfor %}
								</li> 
								{% endif %}

								{% if object.get_licenselist %}
								<li><b>License:</b>
								{% for o in object.get_licenselist %}
								<a href="/software/license/{{ o.slug }}">{{ o.name|title }}</a>{% if not forloop.last %},
								{% endif %}
								{% endfor %}
								</li>
								{% endif %}

								{% if object.get_languagelist %}
								<li><b>Programming Language:</b>
								{% for o in object.get_languagelist %}
								<a href="/software/language/{{ o.slug }}">{{ o.name|title }}</a>{% if not forloop.last %},
								{% endif %}
								{% endfor %}
								</li>
								{% endif %}
							</ul>
						</td>
						<td>
							<ul>
								{% if object.get_opsyslist %}
								<li><b>Operating System:</b>
								{% for o in object.get_opsyslist %}
								<a href="/software/opsys/{{ o.slug }}">{{ o.name|title }}</a>{% if not forloop.last %},
								{% endif %}
								{% endfor %}
								</li>
								{% endif %}

								{% if object.jmlr_mloss_url %}
								<li><b>JMLR-MLOSS Publication:</b>
								<a href="/software/jmlrhomepage/{{ object.id }}">JMLR Page</a>
								</li>
								{% endif %}

								{% if object.get_taglist %}
								<li><b>Tags:</b>
								{% for o in object.get_taglist %}
								<a href="/software/tags/{{ o.slug }}">{{ o.name|title }}</a>{% if not forloop.last %},
								{% endif %}
								{% endfor %}
								</li>
								{% endif %}
							</ul>
						</td>
					</tr>
				</table>
			</div>
</td></tr></table>
{% endfor %}

{% paginator 5%} 

{% else %}
{% if search_term %}
<p>Could not find any software matching query {{ search_term|escape }}.</p>
{% else %}
<p>No software posted yet.</p>
{% endif %}
{% endif %}
{% endblock %}

