{% extends "base_2col.html" %}

{% block extrahead %}
<script type="text/javascript">
	<!--
function addStringToElement(element_id, combo_id)
{
	var out_field = document.getElementById(element_id);
	var in_field = document.getElementById(combo_id);
	var istr = in_field.options[in_field.selectedIndex].text.toLowerCase();
	var ostr = out_field.value;

	if (istr.length > 0)
	{
		if (ostr.length > 0)
		{
			ostr = ostr.split(',');
			var found = false;

			for (var i = 0; i < ostr.length; i++)
			{
				var s = ostr[i].replace(/^ */g, "");
				s = s.replace(/ *$/g, "");
				if (s == istr)
				{
					found = true;
					alert("Item already in List!");
					break;
				}
			}

			if (!found)
			{
				out_field.value += ", ";
				out_field.value += istr;
			}
		}
		else
			out_field.value += istr;
	}
};
//-->
</script>
{% endblock %}

{% block sectionid %}submit{% endblock %}

{% block title %}Submit a software project{% endblock %}

{% block billboard %}Submit a software project{% endblock %}

{% block content-related %}
<dl>
	<dt>
	Submitting/Updating software project as user
	<a href="/software{{ user.get_absolute_url|escape }}">{{ user.username }}</a>.
	</dt>
</dl>
<dl>
	<dt>
	<h2>Hint</h2>
	</dt>
</dl>
<dl>
	<dd>For the fields <b>Authors, Tags, Programming Languages, Operating System, Open Source License</b>, select items from the drop down list or manually add new items. Make sure all items are separated by a comma.
	</dd>
</dl>
{% endblock %}

{% block content %}
{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

{% if form.is_multipart %}
<form enctype="multipart/form-data" method="POST" action="">
	{% else %}
	<form method="POST" action="">
		{% endif %}
		<dl>
			<dd>
			<table width="100%">
				<tr>
					<td>
						<b>{{ form.title.label }}</b><br></br> <span class="help">{{ form.title.help_text }}</span>
						{% if form.title.errors %}<br></br>
						<span class="error">
							{{ form.title.errors|join:", " }}
						</span>
						{% endif %}
						<dd>{{ form.title|safe }}</dd>
					</td>
					<td>
						<b>{{ form.version.label }}</b><br></br> <span class="help">{{ form.version.help_text }}</span>
						{% if form.version.errors %}<br></br>
						<span class="error">
							{{ form.version.errors|join:", " }}
						</span>
						{% endif %}
						<dd>{{ form.version|safe }}</dd>
					</td>
				</tr>
				<tr>
					<td>
						<b>{{ form.authors.label }}</b><br></br> <span class="help">{{ form.authors.help_text }}</span>
						{% if form.authors.errors %}<br></br>
						<span class="error">
							{{ form.authors.errors|join:", " }}
						</span>
						{% endif %}
						<dd>{{ form.authors_choice|safe }}{{ form.authors|safe }}</dd>
						<script type="text/javascript">
							<!--
							document.getElementById('{{ form.authors_choice.auto_id }}').onchange = function() { addStringToElement('{{ form.authors.auto_id }}', '{{ form.authors_choice.auto_id }}');};
//-->
</script>
			</td>
			<td>
				<b>{{ form.contact.label }}</b><br></br> <span class="help">{{ form.contact.help_text }}</span>
				{% if form.contact.errors %}<br></br>
				<span class="error">
					{{ form.contact.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.contact|safe }}</dd>
			</td> 
		</tr>
		<tr>
			<td>
				{{ form.tags.label }}<br></br> <span class="help">{{ form.tags.help_text }}</span>
				{% if form.tags.errors %}<br></br>
				<span class="error">
					{{ form.tags.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.tags_choice|safe }}{{ form.tags|safe }}</dd>
				<script type="text/javascript">
					<!--
					document.getElementById('{{ form.tags_choice.auto_id }}').onchange = function() { addStringToElement('{{ form.tags.auto_id }}', '{{ form.tags_choice.auto_id }}');};
//-->
</script>
			</td>
			<td>
				<b>{{ form.language.label }}</b><br></br> <span class="help">{{ form.language.help_text }}</span>
				{% if form.language.errors %}<br></br>
				<span class="error">
					{{ form.language.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.language_choice|safe }}{{ form.language|safe }}</dd>
				<script type="text/javascript">
					<!--
					document.getElementById('{{ form.language_choice.auto_id }}').onchange = function() { addStringToElement('{{ form.language.auto_id }}', '{{ form.language_choice.auto_id }}');};
//-->
</script>
			</td>
		</tr>
		<tr>
			<td>
				<b>{{ form.operating_systems.label }}</b><br></br> <span class="help">{{ form.operating_systems.help_text }}</span>
				{% if form.operating_systems.errors %}<br></br>
				<span class="error">
					{{ form.operating_systems.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.operating_systems_choice|safe }}{{ form.operating_systems|safe }}</dd>
				<script type="text/javascript">
					<!--
					document.getElementById('{{ form.operating_systems_choice.auto_id }}').onchange = function() { addStringToElement('{{ form.operating_systems.auto_id }}', '{{ form.operating_systems_choice.auto_id }}');};
//-->
</script>
			</td>
			<td>
				<b>{{ form.os_license.label }}</b><br></br> <span class="help">{{ form.os_license.help_text }}</span>
				{% if form.os_license.errors %}<br></br>
				<span class="error">
					{{ form.os_license.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.os_license_choice|safe }}{{ form.os_license|safe }}</dd>
				<script type="text/javascript">
					<!--
					document.getElementById('{{ form.os_license_choice.auto_id }}').onchange = function() { addStringToElement('{{ form.os_license.auto_id }}', '{{ form.os_license_choice.auto_id }}');};
//-->
</script>
			</td>
		</tr>
		<tr>
			<td>
				<b>{{ form.dataformats.label }}</b><br></br> <span class="help">{{ form.dataformats.help_text }}</span>
				{% if form.dataformats.errors %}<br></br>
				<span class="error">
					{{ form.dataformats.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.dataformats_choice|safe }}{{ form.dataformats|safe }}</dd>
				<script type="text/javascript">
					<!--
					document.getElementById('{{ form.dataformats_choice.auto_id }}').onchange = function() { addStringToElement('{{ form.dataformats.auto_id }}', '{{ form.dataformats_choice.auto_id }}');};
//-->
</script>
			</td>
			<td>
				{{ form.project_url.label }}<br></br> <span class="help">{{ form.project_url.help_text }}</span>
				{% if form.project_url.errors %}<br></br>
				<span class="error">
					{{ form.project_url.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.project_url|safe }}</dd>
			</td>
		</tr>
		<tr>
			<td>
				{{ form.thumbnail.label }}<br></br> <span class="help">{{ form.thumbnail.help_text }}</span>
				{% if form.thumbnail.errors %}<br></br>
				<span class="error">
					{{ form.thumbnail.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.thumbnail|safe }} {{ form.thumbnail_file|safe }}</dd>
			</td>
			<td>
				{{ form.screenshot.label }}<br></br> <span class="help">{{ form.screenshot.help_text }}</span>
				{% if form.screenshot.errors %}<br></br>
				<span class="error">
					{{ form.screenshot.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.screenshot|safe }} {{ form.screenshot_file|safe }}</dd>
			</td>
		</tr>
		<tr>
			<td>
				{{ form.tarball.label }}<br></br> <span class="help">{{ form.tarball.help_text }}</span>
				{% if form.tarball.errors %}<br></br>
				<span class="error">
					{{ form.tarball.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.tarball|safe }} {{ form.tarball_file|safe }}</dd>
			</td>
			<td>
				{{ form.download_url.label }}<br></br> <span class="help">{{ form.download_url.help_text }}</span>
				{% if form.download_url.errors %}<br></br>
				<span class="error">
					{{ form.download_url.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.download_url|safe }}</dd>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				{{ form.paper_bib.label }}<br></br> <span class="help">{{ form.paper_bib.help_text }}</span>
				{% if form.paper_bib.errors %}<br></br>
				<span class="error">
					{{ form.paper_bib.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.paper_bib|safe }}</dd>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<b>{{ form.short_description.label }}</b><br></br> <span class="help">{{ form.short_description.help_text }}</span>
				{% if form.short_description.errors %}<br></br>
				<span class="error">
					{{ form.short_description.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.short_description|safe }}</dd>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<b>{{ form.description.label }}</b><br></br> <span class="help">{{ form.description.help_text }}</span>
				{% if form.description.errors %}<br></br>
				<span class="error">
					{{ form.description.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.description|safe }}</dd>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<b>{{ form.changes.label }}</b><br></br> <span class="help">{{ form.changes.help_text }}</span>
				{% if form.changes.errors %}<br></br>
				<span class="error">
					{{ form.changes.errors|join:", " }}
				</span>
				{% endif %}
				<dd>{{ form.changes|safe }}</dd>
			</td>
		</tr>
	</table>
	</dd>
	<dt><input type="submit" value="Save" /></dt>
</dl>
</form>
{% endblock %}
