{% extends "software/base_software.html" %}
{% load safe_markup %}
{% load paginator %}
{% load show_stars %}

{% block sectionid %}browse{% endblock %}

{% block title %} 
{% if search_term %}
Projects matching {{ search_term|escape }}.
{% else %}
{% if os_license %}
Projects that use the {{ os_license }} license.
{% else %}
{% if language %}
Projects that use {{ language }} as the programming language.
{% else %}
{% if object.username %}
Projects submitted by {{ object.username }}
{% else %}
All entries
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endblock %}



{% block billboard %}
{% if search_term %}
Projects matching {{ search_term|escape }}.
{% else %}
{% if os_license %}
{{ object_list.count }} projects found that use the {{ os_license }} license.
{% else %}
{% if language %}
{{ object_list.count }} projects found that use {{ language }} as the programming language.
{% else %}
{% if object.username %}
{% ifequal user.username object.username %}
You've
{% else %}
{{ object.username }} has
{% endifequal %}
posted {{ object_list.count }} project{{ object_list.count|pluralize }}.
{% else %}
All entries
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endblock %}

{% block content %}

{% if object_list %}

{% paginator 5%} 

{% for snippet in object_list %}
<table {% if snippet.jmlr_mloss_url|escape %} class="jmlr" {% else %} class="swlist"{% endif %}>
	<tr><td>
			<div class="rating">
				<table><tr><td valign="top">
							<h2>
								<img src="/media/images/cray_flat_small.png" border="0" height="32" width="30" align="top" alt="Logo"></img>
								<a href="{{ snippet.get_absolute_url|escape }}"> {{ snippet.title }} {{ snippet.version }}</a>
							</h2>
							<p class="more">
							by <a href="/software{{ snippet.user.get_absolute_url|escape }}">{{ snippet.user.username }}</a> 
							- {{ snippet.pub_date|date:"F j, Y, h:m:s" }}
							[
							{% if snippet.project_url %}<a href="/software/homepage/{{ snippet.id }}"><img src="/media/images/homepage.png" width="14" height="14" alt="Project Homepage"></img></a> {% endif %}
							<a href="/software/bib/{{ snippet.id }}"><img src="/media/images/bib.png" width="14" height="14" alt="BibTeX"></img></a>
							{% if snippet.paper_bib %}<a href="/software/paperbib/{{ snippet.id }}"><img src="/media/images/paper.png" width="14" height="14" alt="BibTeX for corresponding Paper"></img></a>{% endif %}
							{% if snippet.tarball %}<a href="/software/download/{{ snippet.id }}"><img src="/media/images/disk.png" width="14" height="14" alt="Download"></img></a>{% endif %}
							]

							{% if snippet.total_number_of_views %}
							{{ snippet.total_number_of_views }} view(s)
							{% endif %}
							{% if snippet.total_number_of_downloads %}
							, {{ snippet.total_number_of_downloads }} download(s)
							{% endif %}
							</p>
						</td>
						{% if snippet.total_number_of_votes %}
						<td class="rating">
							<table class="starlab">
								<tr><td class="starlab">Rating {% show_stars snippet.average_rating of 5 round to half %}</td></tr>
								<tr><td class="starlab">( based on {{ snippet.total_number_of_votes }} vote(s) )</td></tr>
							</table>
						</td>
						{% endif %}
				</tr></table>
			</div>
			<div class="description">
				{{ snippet.description|safe_markdown:"safe,cut=200" }}
				<hr></hr>
				<ul>
					{% if snippet.authors %}<li><b>Authors:</b> {{ snippet.authors }}</li> {% endif %}
					{% if snippet.os_license %}<li><b>License:</b> {{ snippet.os_license}}</li> {% endif %}
					{% if snippet.operating_systems %}<li><b>OS:</b> {{ snippet.operating_systems}}</li> {% endif %}
					{% if snippet.jmlr_mloss_url %}<li><b>JMLR-MLOSS Publication:</b> <a href="/software/jmlrhomepage/{{ snippet.id }}">JMLR Page</a></li> {% endif %}
					{% if snippet.tags %} <li><b>Tags:</b> {{ snippet.tags }}</li> {% endif %}
				</ul>
			</div>
</td></tr></table>
{% endfor %}

{% paginator 5%} 

{% else %}
{% if search_term %}
<p>Could not find any software matching query {{ search_term|escape }}.</p>
{% else %}
<p>No software posted yet.</p>
{% endif %}
{% endif %}
{% endblock %}

