{% extends "base_2col.html" %}

{% block sectionid %}submit{% endblock %}

{% block title %}Submit a software project{% endblock %}

{% block billboard %}Submit a software project{% endblock %}

{% block content %}
{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

{% if form.is_multipart %}
<form enctype="multipart/form-data" method="POST" action="">
{% else %}
<form method="POST" action="">
{% endif %}
  <dl>
    <dt><label for="id_screenshot">
        Screenshot: {% if form.screenshot.errors %}
        <span class="error">
          {{ form.title.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.screenshot }}{{ form.screenshot_file }}</dd>
    <dt><label for="id_title">
        Title: {% if form.title.errors %}
        <span class="error">
          {{ form.title.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.title }}</dd>
    <dt><label for="id_authors">
        Authors: {% if form.authors.errors %}
        <span class="error">
          {{ form.authors.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.authors }}</dd>
    <dt><label for="id_contact">
        Main Author's Email Address: {% if form.contact.errors %}
        <span class="error">
          {{ form.contact.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.contact }}</dd>
    <dt><label for="id_description">
        Description: {% if form.description.errors %}
        <span class="error">
          {{ form.description.errors|join:", " }}
        </span>
        {% endif %}
    </label>
    </dt>
    <dd>{{ form.description }}</dd>
    <dt><label for="id_project_url">
        Project URL: {% if form.project_url.errors %}
        <span class="error">
          {{ form.project_url.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.project_url }}</dd>
    <dt><label for="tags">
        Tags: {% if form.tags.errors %}
        <span class="error">
          {{ form.tags.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.tags }}</dd>
    <dt><label for="language">
        Programming Language(s): {% if form.language.errors %}
        <span class="error">
          {{ form.language.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.language }}</dd>
    <dt><label for="os_license">
        Open Source License: {% if form.os_license.errors %}
        <span class="error">
          {{ form.os_license.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.os_license }}</dd>
    <dt><label for="tarball">
        Project Archive: {% if form.tarball.errors %}
        <span class="error">
          {{ form.tarball.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.tarball }}{{ form.tarball_file }}</dd>
    <dt><input type="submit" value="Save" /></dt>
  </dl>
</form>
{% endblock %}

