{% extends "base_2col.html" %}

{% load comments %}
{% load markup %}
{% load show_stars %}

{% block sectionid %}browse{% endblock %}

{% block title %}Project details:{{ object.software.title }}{% endblock %}

{% block billboard %}Project details for {{ object.software.title }}{% endblock %}

{% block content-related %}

<h2>Manage</h2>
<dl>
	<dd><a href="/software">Project List</a></dd>
</dl>

<dl>
	<dd>
	{% if user.is_authenticated %}
	<a href="/software/submit">Submit new Project</a>
	{% else %}
	<a href="/software/submit">Login</a><a> to submit a new project</a>
	{% endif %}
	</dd>
</dl>

{% if user.is_authenticated %}
<dl>
	<dd><a href="/software/mail/{{ object.software.id }}">Email Author</a></dd>
</dl>
{% if user.is_superuser %}
<dl>
	<dd><a href="/software/update/{{ object.software.id }}{{ revision }}">Update Project</a></dd>
</dl>
{% else %}
{% ifequal user.id object.software.user_id %} 
<dl>
	<dd><a href="/software/update/{{ object.software.id }}{{ revision }}">Update Project</a></dd>
</dl>
{% endifequal %}
{% endif %}
{% endif %}

<h2>Details</h2>
<dl>
	<dt>Version:</dt>
	<dd>{{ object.version }}</dd>
	<dt>Submitter:</dt>
	<dd>{{ object.software.user.username }}</dd>
	<dt>Author(s):</dt>
	<dd>
	  {% for o in object.get_authorlist %}
	  <a href="/software/author/{{ o.slug }}">{{ o.name|title }}</a>
	  {% if not forloop.last %},
	  {% endif %}
	  {% endfor %}
	</dd>
	<dt>Posted:</dt>
	<dd>{{ object.pub_date|date:"j F Y" }}</dd>
	<dt>Last Updated:</dt>
	<dd>{{ object.updated_date|date:"j F Y" }}</dd>
	<dt>Open Source License:</dt>
	<dd>{{ object.os_license }}</dd>
	{% if object.language %}
	<dt>Programming Language(s):</dt>
	<dd>{{ object.language }}</dd>
	{% endif %}
</dl>
<dl>
    <dd>
    <h3><a href="/software/rss/merged/{{object.software.id}}/"><img src="/media/images/rss.png" alt="RSS Feed" border="0" width="16" height="16" align="top"></img> RSS Feed for "{{ object.software.title }}"</a></h3>


<h3>
<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=web%2Cemail&amp;charset=utf-8&amp;services=reddit%2Cdigg%2Cdelicious%2Cstumbleupon%2Cyahoo_buzz%2Ctechnorati%2Cgoogle_bmarks%2Cyahoo_bmarks%2Cfurl%2Cslashdot%2Cmagnolia%2Cmister_wong%2Cyigg&amp;offsetTop=-306&amp;style=default&amp;publisher=85555fbd-bb3a-4ab4-af6f-5dea32a6a5e4"></script></h3>
    </dd>
</dl>
{% endblock %}

{% block content %}
<dl>
	<dd>
	<table {% if object.jmlr_mloss_url|escape %} class="jmlr" {% else %} class="swlist"{% endif %}>
		<tr>
			<td>
				<div class="rating">
					<table>
						<tr>
							<td valign="top">
								<h2>
									{% if object.screenshot %}
									<a href="/media/{{ object.screenshot }}" target="new"><img src="/media/{{ object.screenshot }}" width="128" height="80" alt='Screenshot' title='Screenshot'></img></a>
									{% else %}
									{% ifequal object.software.user.username "r-cran-robot" %}
									<img src="/media/images/rlogo.png" border="0" height="32" width="30" align="top" alt="Logo" title="Logo"></img>
									{% else %}
									<img src="/media/images/cray_flat_small.png" border="0" height="32" width="30" align="top" alt="Logo" title="Logo"></img>
									{% endifequal %}
									{% endif %}
									{% if object.jmlr_mloss_url %}
									<img src="/media/images/jmlr.jpg" width="60" height="32" align="top" alt="JMLR"></img>
									{% endif %}
									<a href="{{ object.software.get_absolute_url }}"> {{ object.software.title }} {{ object.version }}</a>
								</h2>
								<p class="more">
								by <a href="/software/users/{{ object.software.user|escape }}">{{ object.software.user.username }}</a> 
								- {{ object.updated_date|date:"F j, Y, H:i:s" }} CET
								[
								{% if object.project_url|escape %}<a href="{{ object.get_absolute_homepage_url }}"><img src="/media/images/homepage.png" width="14" height="14" alt="Project Homepage" title="Project Homepage"></img></a> {% endif %}
								<a href="{{ object.get_absolute_bib_url }}"><img src="/media/images/bib.png" width="14" height="14" alt="BibTeX" title="BibTeX"></img></a>
								{% if object.paper_bib %}<a href="{{ object.get_absolute_paperbib_url }}"><img src="/media/images/paper.png" width="14" height="14" alt="BibTeX for corresponding Paper" title="BibTeX for corresponding Paper"></img></a>{% endif %}
								{% if object.is_downloadable %}<a href="{{ object.get_absolute_download_url }}"><img src="/media/images/disk.png" width="14" height="14" alt="Download" title="Download"></img></a>{% endif %}
                                {% if user.is_authenticated %}<a href="/software/subscribe/{{ object.software.id }}"><img src="/media/images/subscribe.png" width="14" height="14" alt="Subscribe" title="Subscribe"></img></a>{% endif %}
                                {% if user.is_authenticated %}<a href="/software/bookmark/{{ object.software.id }}"><img src="/media/images/bookmark.png" width="14" height="14" alt="Bookmark" title="Bookmark"></img></a>{% endif %}
								]
								</p>

                                <p class="more">
								{{ object.total_number_of_views }} view{{ object.total_number_of_views|pluralize}} ({{ todays_stats.number_of_views }} today),
{{ object.total_number_of_downloads }} 
download{{ object.total_number_of_downloads|pluralize}}
( {{ todays_stats.number_of_downloads }} today ){% get_comment_list for software.software object.software.id as comment_list %}{% if comment_list %}, 
  {% get_comment_count for object.software as comment_count %}
  {{ comment_count }} comment{{ comment_count|pluralize }}{% endif %}, {{ object.software.get_subscription_count }} subscription{{ object.software.get_subscription_count|pluralize }}


                                </p>
							</td>
							{% if object.software.total_number_of_votes %}
							<td class="rating">
								<table class="starlab">
									<tr><td class="starlab">Overall</td><td class="stars"><nobr>{% show_stars object.software.average_rating of 5 round to half %}</nobr></td></tr>
									<tr><td class="starlab">Features</td><td class="stars"><nobr>{% show_stars object.software.average_features_rating of 5 round to half %}</nobr></td></tr>
									<tr><td class="starlab">Usability</td><td class="stars"><nobr>{% show_stars object.software.average_usability_rating of 5 round to half %}</nobr></td></tr>
									<tr><td class="starlab">Documentation</td><td class="stars"><nobr>{% show_stars object.software.average_documentation_rating of 5 round to half %}</nobr></td></tr>
									<tr><td colspan="2" class="starlab" align="center">(based on {{ object.software.total_number_of_votes }} vote{{ object.software.total_number_of_votes|pluralize }})</td></tr>
								</table>
							</td>
							{% endif %}
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
	<table class="swlist">
		<tr>
			<td>
				<dl>
					<dt>Description:</dt>
					
					<dd>{{ object.description_html|safe }}</dd>
				</dl>
			</td>
		</tr>
		<tr>
			<td>
				<dl>
					<dt>Changes to previous version:</dt>
					<dd>{{ object.changes_html|safe }}</dd>
				</dl>
			</td>
		</tr>
		<tr>
			<td>
				<dl>
					<dd><b>BibTeX Entry:</b>
					<a href="{{ object.get_absolute_bib_url }}">Download</a></dd>

					{% if object.paper_bib %}
					<dd><b>Corresponding Paper BibTeX Entry:</b>
					<a href="{{ object.get_absolute_paperbib_url }}">Download</a></dd>

					{% endif %}

					{% if object.get_opsyslist %}
					<dd><b>Supported Operating Systems:</b>
					{% for o in object.get_opsyslist %}
					<a href="/software/opsys/{{ o.slug }}">{{ o.name|title }}</a>{% if not forloop.last %},
					{% endif %}
					{% endfor %}
					</dd>
					{% endif %}

					{% if object.get_dataformatlist %}
					<dd><b>Data Formats:</b>
					{% for o in object.get_dataformatlist %}
					<a href="/software/dataformat/{{ o.slug }}">{{ o.name|title }}</a>{% if not forloop.last %},{% endif %}
					{% endfor %}
					</dd>
					{% endif %}

					{% if object.get_taglist %}
					<dd><b>Tags:</b>
					{% for o in object.get_taglist %}
					<a href="/software/tags/{{ o.slug }}">{{ o.name|title }}</a>{% if not forloop.last %},
					{% endif %}
					{% endfor %}
					</dd>
					{% endif %}

					{% if object.is_downloadable %}
					<dd><b>Archive:</b>
					<a href='{{ object.get_absolute_download_url }}'>download here</a></dd>
					{% endif %}
				</dl>
			</td>
		</tr>
		{% if revisions %}
		<tr>
			<td>
				<dl>
					<dt><h2>Other available revisons</h2></dt>
					<dd>
					<table>
						<tr>
							<th><b>Version</b></th>
							<th><b>Changelog</b></th>
							<th><b>Date</b></th>
						</tr>
						{% for r in revisions %}
						<tr>
							<td>
								<a href="{{ r.get_absolute_url }}">{{ r.version }}</a>
							</td>
							<td>
								{{ r.changes_html|safe }}
							</td>
							<td>
								{{ r.pub_date|date:"F j, Y, H:i:s" }}
							</td>
						</tr>
						{% endfor %}
					</table>
				</dl>
			</td>
		</tr>
		{% endif %}
		{% if ratingform %}
		<tr>
			<td>
				<div class="ratingform" align="center">
					<h2>Rating</h2>

					<p>Rate this software. "0" means poor and "5" means excellent. Ratings can
					be changed later on.</p>
					<form method="post" action="/software/rate/{{ object.software.id }}/">{% csrf_token %}
						<table>
							{{ ratingform|safe }}
						</table>
						<input type="submit" value="Submit my ratings!">
					</form>
				</div>
			</td>
		</tr>
		{% endif %}
		<tr>
			<td>
				<h2>Comments</h2>

				{% get_comment_list for software.software object.software.id as comment_list %}

				{% if comment_list %}
				{% for comment in comment_list %}
				<dl><dd>
				<div class="comment">
					<dl>
						<dt id="c{{ comment.id }}">{{ comment.name }} (on {{ comment.submit_date|date:"F j, Y, H:i:s" }})</dt>
						
						<dd>{{ comment.comment|safe }}</dd>
					</dl>
				</div>
				</dd></dl>
				{% endfor %}
				{% else %}
				<p>
				No one has posted any comments yet. Perhaps you'd like to be the first?
				</p>
				{% endif %}

				<h2>Leave a comment</h2>
				{% if user.is_authenticated %}
				{% render_comment_form for object.software %}
				{% else %}
				<p>
				You must be logged in to post comments.
				</p>
				{% endif %}
			</td>
		</tr>
	</table>
	</dd>
</dl>
{% endblock %}
