{% load comments %}
{% load safe_markup %}
{% load show_stars %}

{% extends "base_2col.html" %}

{% block sectionid %}browse{% endblock %}

{% block title %}Project details:{{ object.title }}{% endblock %}

{% block billboard %}Title:{{ object.title }}{% endblock %}

{% block content-related %}

<h2>Manage</h2>
<dl>
	<a href="/software">Project List</a>
</dl>

<dl>
	{% if user.is_authenticated %}
	<a href="/software/submit">Submit new Project</a>
	{% else %}
	<a href="/software/submit">Login</a><a> to submit a new project</a>
	{% endif %}
</dl>

{% if user.is_authenticated %}
{% if user.is_superuser %}
<dl>
	<a href="/software/update/{{ object.id}}">Update Project</a>
</dl>
{% else %}
{% ifequal user.id object.user_id %} 
<dl>
	<a href="/software/update/{{ object.id}}">Update Project</a>
</dl>
{% endifequal %}
{% endif %}
{% endif %}

<h2>Details</h2>
<dl>
	<dt>Version:</dt>
	<dd>{{ object.version }}</dd>
	<dt>Submitter:</dt>
	<dd>{{ object.user.username }}</dd>
	<dt>Author(s):</dt>
	<dd>{{ object.authors }}</dd>
	<dt>Posted:</dt>
	<dd>{{ object.pub_date|date:"j F Y" }}</dd>
	<dt>Last Updated:</dt>
	<dd>{{ object.updated_date|date:"j F Y" }}</dd>
	<dt>Open Source License:</dt>
	<dd>{{ object.os_license }}</dd>
	{% if object.language %}
	<dt>Programming Language(s):</dt>
	<dd>{{ object.language }}</dd>
	{% endif %}
</dl>
{% endblock %}

{% block content %}
<dl>
	<table class="swlist">
		<tr>
			<td>
				<div class="rating">
					<table>
						<tr>
							<td valign="top">
								<h2>
									{% if object.screenshot %}
									<a href="/media/{{ object.screenshot }}" target="new"><img src="/media/{{ object.screenshot }}" width="128" height='80' alt='screenshot'></img> {{ object.title }} {{ object.version }}</a>
									{% else %}
									<img src="/media/images/cray_flat_small.png" border="0" height="32" width="30" align=top><a href="{{ object.get_absolute_url }}"> {{ object.title }} {{ object.version }}
									</a></img>
									{% endif %}
								</h2>
								<p class="more">
								by <a href="/software{{ object.user.get_absolute_url }}">{{ object.user.username }}</a> 
								- {{ object.pub_date|date:"F j, Y, h:m:s" }}
								[
								{% if object.project_url %}<a href="{{ object.project_url }}"><img src="/media/images/homepage.png" width="14" height=14"></img></a> {% endif %}
								<a href=/software/bib/{{ object.id }}><img src="/media/images/bib.png" width="14" height=14"></img></a>
								{% if object.paper_bib %}<a href="/software/paperbib/{{ object.id }}"><img src="/media/images/paper.png" width="14" height=14"></img></a>{% endif %}
								{% if object.tarball %}<a href=/media/{{ object.tarball }}><img src="/media/images/disk.png" width="14" height=14"></img></a>{% endif %}
								]
								</p>
							</td>
							{% if object.get_num_votes %}
							<td class="rating">
								<font size=2>
									<table class="starlab">
										<tr><td class="starlab">Features</td><td class="stars">{% show_stars object.get_features_rating of 5 round to half %}</td></tr>
										<tr><td class="starlab">Usability</td><td class="stars">{% show_stars object.get_usability_rating of 5 round to half %}</td></tr>
										<tr><td class="starlab">Documentation</td><td class="stars">{% show_stars object.get_documentation_rating of 5 round to half %}</td></tr>
									</table>
								</font>
							</td>
							{% endif %}
					</tr></table>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<dt>Description:</dt>
				<dd>{{ object.description_html }}</dd>
			</td>
		</tr>
		<tr>
			<td>
				<dt>BibTeX Entry:</dt>
				<dd><a href="/software/bib/{{ object.id }}">Download</a></dd>

				{% if object.paper_bib %}
				<dt>Corresponding Paper BibTeX Entry:</dt>
				<dd><a href="/software/paperbib/{{ object.id }}">Download</a></dd>
				{% endif %}

				<dt>URL:</dt>
				<dd>{{ object.project_url|urlize }}</dd>

				{% if object.operating_systems %}
				<dt>Supported Operating Systems:</dt>
				<dd>{{ object.operating_systems }}</dd>
				{% endif %}

				{% if object.tags %}
				<dt>Tag(s):</dt>
				<dd> {{ object.tags }} </dd>
				{% endif %}

				{% if object.tarball %}
				<dt>Archive:</dt>
				<dd><a href='/media/{{ object.tarball }}'>download here</a></dd>
				{% endif %}
			</td>
		</tr>
		{% if ratingform %}
		<tr>
			<td>
				<div class="ratingform" align="center">
					<h2>Rating</h2>

					<p>Rate this software. "0" means poor and "5" means excellent. Ratings can
					be changed later on.</p>
					<form method="post" action="/software/rate/{{ object.id }}/">
						<table>
							{{ ratingform }}
						</table>
						<input type="submit" value="Submit my ratings!">
					</form>
				</div>
			</td>
		</tr>
		{% endif %}
		<tr>
			<td>
				<h2>Comments</h2>

				{% get_comment_list for software.software object.id as comment_list %}

				{% if comment_list %}
				{% for comment in comment_list %}
				<div id="comment">
					<dt id="c{{ comment.id }}">{{ comment.user.username }} (on {{ comment.submit_date|date:"F j, Y, h:m:s" }})
					, Karma
					{% if user.is_authenticated %}
					{% ifnotequal comment.user user %}
					(<a href="/comments/karma/vote/{{ comment.id }}/up/">+</a>/<a href="/comments/karma/vote/{{ comment.id }}/down/">-</a>)
					{% endifnotequal %}
					{% endif %}
					:{% show_stars comment.get_karma_total of 5 round to half %}
					</dt>
					<dd>{{ comment.comment|safe_markdown:"safe" }}</dd>
				</div>
				<br></br>
				{% endfor %}
				{% else %}
				<p>
				No one has posted any comments yet. Perhaps you'd like to be the first?
				</p>
				{% endif %}

				<h2>Leave a comment</h2>
				{% comment_form for software.software object.id %}
			</td>
		</tr>
	</table>
</dl>
{% endblock %}
