{% extends "base_2col.html" %}

{% block sectionid %}browse{% endblock %}

{% block title %}Project details:{{ object.title }}{% endblock %}

{% block billboard %}Title:{{ object.title }}{% endblock %}

{% block content-related %}
<h2>Manage</h2>
<dl>
{% if user.is_authenticated %}
	<a href="/software/submit">Submit new Project</a></li>
{% else %}
<li><a href="/software/submit">Login</a><a> to submit a new project</a></li>
{% endif %}
</dl>
<dl>
{% if user.is_authenticated %}
<a href="/software/update/{{ object.id}}">Update Project</a>
{% else %}
<a href="/software/update/{{ object.id}}">Login</a><a> to edit this project</a>
{% endif %}
</dl>

<h2>Details</h2>
<dl>
<dt>Author(s):</dt>
<dd>{{ object.authors }}</dd>
<dt>Posted:</dt>
<dd>{{ object.pub_date|date:"j F Y" }}</dd>
<dt>Last Updated:</dt>
<dd>{{ object.updated_date|date:"j F Y" }}</dd>
<dt>Open Source License:</dt>
<dd>{{ object.os_license }}</dd>
{% if object.language %}
<dt>Programming Language(s):</dt>
<dd>{{ object.language }}</dd>
{% endif %}
</dl>
{% endblock %}

{% block content %}
<dl>

{% if object.screenshot %}
<dt>Screenshot:</dt>
<dd><img src='/{{ object.screenshot }}' width='106' height='80' alt='screenshot'></dd>
{% endif %}

<dt>Description:</dt>
<dd>{{ object.description_html }}</dd>

<dt>URL:</dt>
<dd>{{ object.project_url }}</dd>

{% if object.tags %}
<dt>Tag(s):</dt>
<dd> {{ object.tags }} </dd>
{% endif %}

{% if object.tarball %}
<dt>Archive:</dt>
<dd><a href='/{{ object.tarball }}'>download here</a></dd>
{% endif %}

</dl>

<h2>Comments</h2>
{% load comments %}
{% load safe_markup %}

{% get_comment_list for software.software object.id as comment_list %}

{% if comment_list %}
  {% for comment in comment_list %}
  <p><strong>{{ comment.user }}</strong> - {{ comment.comment|safe_markdown:"safe" }}</p>
  {% endfor %}
{% else %}
  <p>
  No one has posted any comments yet. Perhaps you'd like to be the first?
  </p>
{% endif %}


{% comment_form for software.software object.id %}

{% endblock %}

