{% load safe_markup %}
{% load paginator %}
{% load show_stars %}

{% extends "base_2col.html" %}

{% block sectionid %}browse{% endblock %}

{% block title %} 
{% if search_term %}
Projects matching {{ search_term|escape }}.
{% else %}
{% if os_license %}
Projects that use the {{ os_license }} license.
{% else %}
{% if language %}
Projects that use {{ language }} as the programming language.
{% else %}
{% if object.username %}
Projects submitted by {{ object.username }}
{% else %}
All entries
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endblock %}



{% block billboard %}
{% if search_term %}
Projects matching {{ search_term|escape }}.
{% else %}
{% if os_license %}
{{ object_list.count }} projects found that use the {{ os_license }} license.
{% else %}
{% if language %}
{{ object_list.count }} projects found that use {{ language }} as the programming language.
{% else %}
{% if object.username %}
{% ifequal user.username object.username %}
You've
{% else %}
{{ object.username }} has
{% endifequal %}
posted {{ object_list.count }} project{{ object_list.count|pluralize }}.
{% else %}
All entries
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endblock %}

{% block content %}

{% if object_list %}

{% paginator 5%} 

{% for snippet in object_list %}
{% if snippet.jmlr_mloss_url %}
<div class="jmlr">
{% endif %}
<center>
<table><tr><td>
			<div class="rating">
				<table><tr><td valign=top>
							<h2>
								<img src="/media/images/cray_flat_small.png" border="0" height="32 width="30 align=top>
								<a href="{{ snippet.get_absolute_url }}"> {{ snippet.title }} {{ snippet.version }}</a>
							</h2>
							<p>
							by <a href="/software{{ snippet.user.get_absolute_url }}">{{ snippet.user.username }}</a> 
							- {{ snippet.pub_date|date:"F j, Y, h:m:s" }}
									(<a href=/software/bib/{{ snippet.id }}>BibTeX</a>{% if snippet.project_url %},
									 <a href="{{ snippet.project_url }}">Homepage</a> {% endif %} {% if object.tarball %},
									<a href=/media/{{ snippet.tarball }}>Download</a>
									{% endif %})
							</p>
						</td>
						<td>
							{% if snippet.get_num_votes %}
							<font size=2>
								<table>
									<tr><td>Features</td><td>{% show_stars snippet.get_features_rating of 5 round to half %}</td></tr>
									<tr><td>Usability</td><td>{% show_stars snippet.get_usability_rating of 5 round to half %}</td></tr>
									<tr><td>Documentation</td><td>{% show_stars snippet.get_documentation_rating of 5 round to half %}</td></tr>
								</table>
								{% endif %}
							</font>
				</td></tr></table>
			</div>
			<p>
			{{ snippet.description|safe_markdown:"safe,cut=500" }}<hr></hr>
			<ul>{% if snippet.tags %} <li><b>Tags:</b> {{ snippet.tags }}</li> {% endif %}
				{% if snippet.authors %}<li><b>Authors:</b> {{ snippet.authors }}</li> {% endif %}
				{% if snippet.os_license %}<li><b>License:</b> {{ snippet.os_license}}</li> {% endif %}
				{% if snippet.jmlr_mloss_url %}<li><b>JMLR-MLOSS
					Publication:</b> {{ snippet.jmlr_mloss_url|urlize}}</li> {% endif %}
			</ul>
			</p>
</td></tr></table>
</center>
{% if snippet.jmlr_mloss_url %}
</div>
{% endif %}
{% endfor %}

{% paginator 5%} 

{% else %}
{% if search_term %}
<p>Could not find any software matching query {{ search_term|escape }}.</p>
{% else %}
<p>No software posted yet.</p>
{% endif %}
{% endif %}
{% endblock %}

{% block content-related %}
<h2>Search<form method="POST" action="/software/search/">
		<input type="text" name="searchterm" id="searchterm" size="10">
		<button type="submit" name="post">Go</button>
</form></h2>
<h2>Manage</h2>
<ul>
	{% if user.is_authenticated %}
	<li><a href="/software/submit">Submit new Project</a></li>
	{% else %}
	<li><a href="/software/submit">Login</a><a> to submit a new project</a></li>
	{% endif %}
</ul>
<h2>Sort by</h2>
<ul>
	<li><a href="/software/date/">Date</a></li>
	<li><a href="/software/title/">Project Title</a></li>
    <li><a href="/software/rating/">Rating</a></li>
</ul>
<h2>Filter by</h2>
<ul>
	<li><a href="/software/author/">Author</a></li>
	<li><a href="/software/users/">Submitter</a></li>
	<li><a href="/software/tags/">Tag</a></li>
	<li><a href="/software/license/">License</a></li>
	<li><a href="/software/language/">Language</a></li>
</ul>
<h3><a href="/software/rss/latest"><img src="/media/images/rss.png" alt="RSS Feat" border="0" width="16" height="16" align="top"> RSS Feed</a></h3>
{% endblock %}
