{% extends "base_2col.html" %}

{% block sectionid %}browse{% endblock %}

{% block title %}All entries{% endblock %}

{% block billboard %}All entries{% endblock %}

{% block content %}
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}

{% block content-related %}
<h2>Manage</h2>
<ul>
{% if user.is_authenticated %}
  <li><a href="/software/submit">Submit new Project</a></li>
{% else %}
  <li><a href="/software/submit">Login</a><a> to submit a new project</a></li>
{% endif %}
</ul>
<h2>Sort by</h2>
<ul>
    <li><a href="/software/date/">Date</a></li>
    <li><a href="/software/title/">Project Title</a></li>
    <li><a href="/software/author/">Author</a></li>
    <li><a href="/software/tags/">Tag</a></li>
    <li><a href="/software/license/">License</a></li>
</ul>
<h2>Filter by</h2>
<ul>
    <li><a href="/users/">Users</a></li>
    <ul>
    {% for curuser in object_list %}
        <li><a href="/users/{{ curuser.username }}/">{{ curuser.username }}</a></li>
    {% endfor %}
    </ul>
</ul>
{% endblock %}

