{% extends "software/base_software.html" %}

{% block title %}Users who have software projects{% endblock %}

{% block billboard %}Users who have software projects{% endblock %}

{% block content %}
<ul>
	{% for curuser in object_list %}
	<li><a href="/software/users/{{ curuser.username }}/">
		{{ curuser.username }}</a>
	{% if curuser.get_full_name %}
	({{ curuser.get_full_name }})
	{% endif %}
	</li>
	{% endfor %}
</ul>
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
{% endif %}
{% endblock %}
