{% extends "base.html" %}

{% block columnwrap %}
<div id="content-related" class="sidebar">
  {% block content-related %}
  {% endblock %}
</div>
<!-- END #content-related -->
<div id="content-main">
  {% block content %}
  {% endblock %}
</div>
<!-- END #content-main -->
{% endblock %}

{% block footer %}
{% load permute_items %}
			<div id="footer">
                <p>&copy; 2007-{% now "Y" %}
{% permute_items <a href="http://ml.cs.tu-berlin.de/~mikio">Mikio Braun</a>|<a href="http://www.inf.ethz.ch/~cong">Cheng Soon Ong</a>|<a href="http://ida.first.fraunhofer.de/~sonne">Soeren Sonnenburg</a> %}
                | <a href="/about/impressum/">Impressum</a> | Hosting graciously provided by the <a href="http://www.tuebingen.mpg.de">Max Planck Society</a>.
				</p>
			</div>
{% endblock %}
