{% extends "base_2col.html" %}

{% block sectionid %}community{% endblock %}

{% block title %}Community{% endblock %}

{% block billboard %}Community{% endblock %}

{% block content-related %}

<h2>Tell the world</h2>
<ul>
  <li><a href="/browse/">Machine Learning Open Source Software</a> &mdash; add your site to the list</li>
  <li>Write about machine learning,
    and <a href="mailto:admin-web@mloss.org">let us know</a>, and we'll
    add your feed to this page.</li>
</ul>

<h2>Authors</h2>

<ul>
  {% load aggregator %}
  {% get_feed_list as feed_list %}
  {% for feed in feed_list %}
  <li><a href="{{ feed.public_url }}">{{ feed }}</a> <a class="rss" href="{{ feed.feed_url }}">RSS - Forums</a></li>
  {% endfor %}
</ul>
<p>Do you write about machine learning? <a href="mailto:admin-web@mloss.org">Let
    us know</a>, and we'll add your feed to this page.</p>
{% endblock %}

