{% extends "base_2col.html" %}

{% block sectionid %}browse{% endblock %}

{% block title %}Browse{% endblock %}

{% block billboard %}<h2>Browse</h2>{% endblock %}

<h2>Related content</h2>
{% block content-related %}

<ul>
  <li><a href="/browse/data/">Data</a></li>
  <li><a href="/browse/software/">Software</a></li>
  <li><a href="/browse/author/">by Author</a></li>
  <li><a href="/browse/tags/">by Tag</a></li>
</ul>

{% endblock %}

<h2>Main content</h2>
{% block content %}
Browse the projects which have been submitted.
{% endblock %}
