{% extends "base_2col.html" %}

{% block sectionid %}faq{% endblock %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block billboard %}Frequently Asked Questions{% endblock %}

{% block content-related %}
<p>
To browse the currently listed software projects or to submit your own, 
click on the <a href="http://mloss.org/software/">Software</a> tab. 
You will need to register to be able to submit new projects. 
To discuss issue regarding machine learning open source software, 
click on the <a href="http://mloss.org/community/">Community</a> tab for our forum.</p>
{% endblock %}

{% block content %}
{% load markup %}
{% if all_faq_items %}
    <ul>
    {% for nitem in all_faq_items %}
        <li>
            <h3>{{ nitem.question|markdown }}</h3>
	    {{ nitem.answer|markdown }}
	</li>
    {% endfor %}
{% else %}
    <p>No faq items</p>
{% endif %}
{% endblock %}
