{% extends "base_2col.html" %}

{% block sectionid %}news{% endblock %}

{% block title %}News Items{% endblock %}

{% block billboard %}News Items{% endblock %}

{% block content-related %}
{% if all_news_items %}
    <ul>
    {% for nitem in all_news_items %}
        <li>{{ nitem.headline }}</li>
    {% endfor %}
{% else %}
    <p>No news items</p>
{% endif %}
{% endblock %}

{% block content %}
{% if all_news_items %}
<ul>
	{% for nitem in all_news_items %}
	<li>
	<h2>{{ nitem.headline }} ({{ nitem.publication_date }})</h2>
	{{ nitem.article }}
	</li>
	{% endfor %}
</ul>
{% else %}
    <p>No news items</p>
{% endif %}
{% endblock %}
