{% extends "base_2col.html" %}

{% block sectionid %}browse{% endblock %}

{% block title %}All entries{% endblock %}

{% block billboard %}<h2>All entries</h2>{% endblock %}

{% block content %}
{% if object_list %}
<ul>
  {% for snippet in object_list %}
  <li>
    <a href="{{ snippet.get_absolute_url }}">
      {{ snippet.title }}</a> 
    published
    {{ snippet.pub_date|timesince }} ago
    <p>{{ snippet.description }}</p>
  </li>
  {% endfor %}
</ul>
<p class="pagination">
  {% if has_previous %}
  <a href="?page={{ previous }}">&lt; 
    Previous {{ results_per_page }}
  </a>
  {% endif %}&nbsp;&nbsp;
  {% if has_next %}
  <a href="?page={{ next }}">
    Next {{ results_per_page }} &gt;
  </a>
  {% endif %}
  {% else %}
<p>No software posted yet.</p>
{% endif %}
{% endblock %}

{% block content-related %}
<ul>
  <li><a href="/browse/data/">Data</a></li>
  <li><a href="/browse/software/">Software</a></li>
  <li><a href="/browse/author/">by Author</a></li>
  <li><a href="/browse/tags/">by Tag</a></li>
</ul>
{% endblock %}
