{% extends "base_2col.html" %}

{% block sectionid %}submit{% endblock %}

{% block title %}Submit a software project{% endblock %}

{% block billboard %}<h2>Submit a software project</h2>{% endblock %}

{% block content %}
{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form method="POST" action="">
  <dl>
    <dt><label for="id_title">
        Title: {% if form.title.errors %}
        <span class="error">
          {{ form.title.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.title }}</dd>
    <dt><label for="id_authors">
        Authors: {% if form.authors.errors %}
        <span class="error">
          {{ form.authors.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.authors }}</dd>
    <dt><label for="id_description">
        Description: {% if form.description.errors %}
        <span class="error">
          {{ form.description.errors|join:", " }}
        </span>
        {% endif %}
    </label>
    </dt>
    <dd>{{ form.description }}</dd>
    <dt><label for="id_project_url">
        Project URL: {% if form.project_url.errors %}
        <span class="error">
          {{ form.project_url.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.project_url }}</dd>
    <dt><label for="keyword1">
        Keyword1: {% if form.keyword1.errors %}
        <span class="error">
          {{ form.keyword1.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.keyword1 }}</dd>
    <dt><label for="keyword2">
        Keyword2: {% if form.keyword2.errors %}
        <span class="error">
          {{ form.keyword2.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.keyword2 }}</dd>
    <dt><label for="keyword3">
        Keyword3: {% if form.keyword3.errors %}
        <span class="error">
          {{ form.keyword3.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.keyword3 }}</dd>
    <dt><label for="keyword4">
        Keyword4: {% if form.keyword4.errors %}
        <span class="error">
          {{ form.keyword4.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.keyword4 }}</dd>
    <dt><label for="keyword5">
        Keyword5: {% if form.keyword5.errors %}
        <span class="error">
          {{ form.keyword5.errors|join:", " }}
        </span>
        {% endif %}
      </label>
    </dt>
    <dd>{{ form.keyword5 }}</dd>
    <br />
    <dt><input type="submit" value="Save" /></dt>
  </dl>
</form>
{% endblock %}

