{% load comments %}

<form action="/comments/post/" method="post">
{% if user.is_authenticated %}
    <p>
    Username:
    <strong>{{ user.username }}</strong>
    (<a href="{{ logout_url }}">Log out</a>)
    </p>
{% else %}
    <p>
	<label for="id_username"><tt>Username:</tt></label>
    <input type="text" name="username" id="id_username"/>
	<br></br>
	<label for="id_password"><tt>Password:</tt></label>
    <input type="password" name="password" id="id_password"/>
    (<a href="/accounts/password/reset/">
    Forgotten your password?</a>)
    </p>
{% endif %}

<p><label for="id_comment">Comment:</label><br></br>
<textarea name="comment" id="id_comment" rows="10" cols="80"></textarea></p>

<p
    {% if form.field.errors %} class="error"{% endif %}
    {% ifequal form.field.name "honeypot" %} style="display:none;"{% endifequal %}>
<input type="hidden" name="options" value="{{ options }}"/>
<input type="hidden" name="target" value="{{ target }}"/>
<input type="hidden" name="gonzo" value="{{ hash }}"/></p>
<p>You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>.</p>
<p><input type="submit" name="submit" value="Preview comment"/></p>
</form>
