{% load comments %}

<form action="{% comment_form_target %}" method="post">
	{% if user.is_authenticated %}
	{{ user.username }}
	{% endif %}
	{% for field in form %}
	{% if field.is_hidden %}
	{{ field }}
	{% else %}
	{% ifequal field.name "honeypot" %}
	<p style="display:none;"> {{ field.label_tag }} {{ field }} </p>
	{% endifequal %}
	{% endif %}
	{% endfor %}

	<dl>
		<dt> <label for="id_name">Name</label></dt>
		<dd><input id="id_name" type="text" name="name" maxlength="50" value="{% if user.is_authenticated %}{{ user.first_name }} {{ user.last_name }}{% endif %}"/></dd>

		<dt><label for="id_email">Email address</label> <span class="more">(will not appear publicly)</span>
</dt>
		<dd><input type="text" name="email" id="id_email" value="{{ user.email }}"/></dd>

		<dt><label for="id_comment">Comment</label></dt>
		<dd><textarea id="id_comment" rows="15" cols="60" name="comment"></textarea></dd>
	</dl>

	<p>You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>.</p>
	<p class="submit">
	<input type="submit" name="submit" class="submit-post" value="Preview">
	</p>
</form>
