{% load safe_markup %}

{% extends "base_2col.html" %}

{% block sectionid %}browse{% endblock %}

{% block title %}Preview your comment submission{% endblock %}

{% block billboard %}Preview your comment submission{% endblock %}

{% block content %}
<form action="/comments/post/" method="post">
  {% if comment_form.username.errors or comment_form.password.errors %}
  <p><label for="id_username"><tt>Username:</tt>{{ comment_form.username }}
    {% if comment_form.username.errors %}
      <span class="error">{{ comment_form.username.error_list|join:", " }}</span>
    {% endif %}
    </label>
      </p>
	  <p><label for="id_password"><tt>Password:</tt>{{ comment_form.password }}
    {% if comment_form.password.errors %}
      <span class="error">{{ comment_form.password.error_list|join:", " }}</span>
    {% endif %}
    </label> </p>
  {% else %}
    <p>User: <strong>{{ comment.user }}</strong></p>
  {% endif %}

  <div class="comment">
	  {{ comment.comment|safe_markdown:"safe" }}
	  <p class="date small">Posted by <strong>{{ comment.person_name|escape }}</strong></p>
  </div>

  <p><label for="id_comment">Comment:
  {% if comment_form.comment.errors %}
    <span class="error">
      {{ comment_form.comment.error_list|join:", "  }}
    </span>
  {% endif %}
  </label><br />{{ comment_form.comment }}</p>
  <input type="hidden" name="options" value="{{ options }}" />
  <input type="hidden" name="target" value="{{ target }}" />
  <input type="hidden" name="gonzo" value="{{ hash }}" />
  <input type="submit" name="preview" value="Preview comment" />
  <input type="submit" name="post" value="Post comment" />
</form>

{% endblock %}
