{% extends "base_2col.html" %}
{% block sectionid %}browse{% endblock %}

{% block title %}User Details{% endblock %}

{% block billboard %}User Details{% endblock %}

{% block content %}
<h2> User Details for {{ object.username }}</h2>
	<table>
		<tr>
			<td>Username:</td>
			<td><a href="/user/view/{{ object.pk }}/"> {{ object.username }}</a></td>
		</tr>
		<tr>
			<td>Full Name:</td>
			<td>{{object.get_full_name}}</td>
		</tr>
		<tr>
			<td>Email Address:</td>
			<td>{{object.email}}</td>
		</tr>
	</table>
	{% if softwares %}
    <br></br>
	<h3> Currently listed Software</h3>
	<table>
		{% for sw in softwares %}
		<tr>
			<td> <a href="{{ sw.get_absolute_url }}"> {{ sw.software.title }} {{ sw.version }}</a></td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	{% if swsubscriptions %}
    <br></br>
	<h3> Current Software Subscriptions</h3>
	<table>
        <tr>
            <th> <b>Title</b> </th>
            <th> <b>Last Notified</b> </th>
            <th> <b>Action</b> </th>
        </tr>
		{% for subsc in swsubscriptions %}
		<tr>
			<td> <a href="{{ subsc.url }}">{{ subsc.title }}</a></td>
            <td> {{ subsc.last_updated|date:"j F Y H:i:s" }}</td>
            <td> <a href="{{ subsc.get_unsubscribe_url }}/">Unsubscribe</a></td>
		</tr>
		{% endfor %}
	</table>
    {% endif %}
	{% if forumsubscriptions %}
    <br></br>
	<h3> Current Forum Subscriptions</h3>
	<table>
        <tr>
            <th> <b>Title</b> </th>
            <th> <b>Last Notified</b> </th>
            <th> <b>Action</b> </th>
        </tr>
		{% for subsc in forumsubscriptions %}
		<tr>
			<td> <a href="{{ subsc.url }}">{{ subsc.title }}</a></td>
            <td> {{ subsc.last_updated|date:"j F Y H:i:s" }}</td>
            <td> <a href="{{ subsc.get_unsubscribe_url }}">Unsubscribe</a></td>
		</tr>
		{% endfor %}
	</table>
    {% endif %}
	{% if threadsubscriptions %}
    <br></br>
	<h3> Current Thread Subscriptions</h3>
	<table>
        <tr>
            <th> <b>Title</b> </th>
            <th> <b>Last Notified</b> </th>
            <th> <b>Action</b> </th>
        </tr>
		{% for subsc in threadsubscriptions %}
		<tr>
			<td> <a href="{{ subsc.url }}">{{ subsc.title }}</a></td>
            <td> {{ subsc.last_updated|date:"j F Y H:i:s" }}</td>
            <td> <a href="{{ subsc.get_unsubscribe_url }}">Unsubscribe</a></td>
		</tr>
		{% endfor %}
	</table>
    {% endif %}
	{% if swbookmarks %}
    <br></br>
	<h3> Current Software Bookmarks</h3>
	<table>
        <tr>
            <th> <b>Title</b> </th>
            <th> <b>Action</b> </th>
        </tr>
		{% for subsc in swbookmarks %}
		<tr>
			<td> <a href="{{ subsc.url }}">{{ subsc.title }}</a></td>
            <td> <a href="{{ subsc.get_rmbookmark_url }}">Remove</a></td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	{% if forumbookmarks %}
    <br></br>
	<h3> Current Forum Bookmarks</h3>
	<table>
        <tr>
            <th> <b>Title</b> </th>
            <th> <b>Action</b> </th>
        </tr>
		{% for subsc in forumbookmarks %}
		<tr>
			<td> <a href="{{ subsc.url }}">{{ subsc.title }}</a></td>
            <td> <a href="{{ subsc.get_rmbookmark_url }}">Remove</a></td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	{% if threadbookmarks %}
    <br></br>
	<h3> Current Thread Bookmarks</h3>
	<table>
        <tr>
            <th> <b>Title</b> </th>
            <th> <b>Action</b> </th>
        </tr>
		{% for subsc in threadbookmarks %}
		<tr>
			<td> <a href="{{ subsc.url }}">{{ subsc.title }}</a></td>
            <td> <a href="{{ subsc.get_rmbookmark_url }}">Remove</a></td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
    <br></br>
	<h2> Change User Details</h3>
{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form method="post" action="/user/update/{{object.pk}}/">
<dl>
<dt><label for="id_firstname">First Name:</label>{% if form.firstname.errors %} <span class="error">{{ form.firstname.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.firstname|safe }}</dd>
<dt><label for="id_lastname">Last Name:</label>{% if form.lastname.errors %} <span class="error">{{ form.lastname.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.lastname|safe }}</dd>
<dt><label for="id_email">Email address:</label>{% if form.email.errors %} <span class="error">{{ form.email.errors|join:", " }}</span>{% endif %}</dd>
<dd>{{ form.email|safe }}</dd>
<dt><label for="id_password1">Password:</label>{% if form.password1.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password1|safe }}</dd>
<dt><label for="id_password2">Password (type again to catch any typos):</label>{% if form.password2.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password2|safe }}</dd>
<dt><input type="submit" value="Update" /></dt>
</dl>
</form>
{% endblock %}

{% block content-related %}
<dt>Viewing details of:</dt>
<dd>{{object.username}}</dd>

<dt>Last login:</dt>
<dd>{{object.last_login}}</dd>
<dt>Date joined:</dt>
<dd>{{object.date_joined}}</dd>

{% if user.is_superuser %}
<p>To browse the currently registered users click <a href="/user">here</a>.</p>
{% endif %}
{% endblock %}
