{% extends "base_2col.html" %}
{% block title %}{{ flatpage.title }}{% endblock %}

{% block sectionid %}{{ flatpage.title }}{% endblock %}

{% block billboard %}{{ flatpage.title }}{% endblock %}

{% block content-related %}
<p>
To browse the currently listed software projects or to submit your own, 
click on the <a href="http://mloss.org/software/">Software</a> tab. 
You will need to register to be able to submit new projects.</p>
{% endblock %}

{% block content %}
{{ flatpage.content }}
{% endblock %}



