{% extends "base_2col.html" %}
{% block title %}{{ flatpage.title }}{% endblock %}

{% block sectionid %}{{ flatpage.title }}{% endblock %}

{% block billboard %}{{ flatpage.title }}{% endblock %}

{% block content-related %}
<p>
<a href=http://www.mloss.org>www.mloss.org</a> was conceived by 
<a href=http://ml.cs.tu-berlin.de/~mikio>Mikio Braun</a>, <a href=http://www.kyb.tuebingen.mpg.de/~ong>Cheng Soon Ong</a> and <a href=http://ida.first.fraunhofer.de/~sonne>Soeren Sonnenburg</a>.
</p>
{% endblock %}

{% block content %}
{{ flatpage.content }}
{% endblock %}



